## Week 1: Data Structures - Part2 - Assignment 
**by Sarthak Niwate (Intern at Chistats)**

In [128]:
from faker import Faker
fake = Faker()
import pandas as pd
import numpy as np
import random
from collections import Counter

Input Operations
1. raw_input()
2. input()

raw_input() takes the input as a string whereas input() basically looks at what the user enters, and automatically determines the correct type. We use the input function when you are expecting an integer from the end-user, and raw_input when you are expecting a string. The raw_input() function is similar to input()

Output Operations
3. print()
4. Omitting newlines
5. Concatenation

The print function can be used in many ways like positional way of passing the arguments and the keyword arguments. 

print("This is an example")


This example is of keyword arguments.
We can also use end which is used to omit newlines and sep keyword arguments in the print function as below:

In [129]:
print("Without omitting new lines")
for i in range(1,5):
    print(i)
print("With omitting new lines")
for i in range(1,5):
    print(i, end=' ')

print("\nI","am","a","separator",sep='-')

print("Season is not"+' '+'Seasonal')

Without omitting new lines
1
2
3
4
With omitting new lines
1 2 3 4
I-am-a-separator
Season is not Seasonal

## Data Structure: Lists

#### Prerequisites:

#### i. Define ways to create the list

- We can create a list object python using a built-in list() function.
- Also we can create a list by enclosing the elements of list in the square brackets.

In [130]:
first = list((1,2,3))
print(first)

second = [1,2,3]
print(second)

[1, 2, 3]
[1, 2, 3]

ii. Solve prerequisites using 
    1. hard coded inputs
    2. take input from user

iii. WAP to create list and print the elements, type and address of the elements from list. Shallow copy list and again print the elements, type and address of the elements. Deep copy the list and print the elements, type and address of the elements.

In [131]:
list_iii = [98, 54.2, 45+8j, 'sarthak', [1,2,3], (4,5,6)]
for i in list_iii:
    print(i, type(i), id(i))
    
print()
import copy
s_copy = copy.copy(list_iii)
print(s_copy)
for i in s_copy:
    print(i, type(i), id(i))
    
print()
d_copy = copy.deepcopy(list_iii)
print(d_copy)
for i in d_copy:
    print(i, type(i), id(i))

98 <class 'int'> 140715441341248
54.2 <class 'float'> 3041258330896
(45+8j) <class 'complex'> 3041258330032
sarthak <class 'str'> 3041244249712
[1, 2, 3] <class 'list'> 3041244124480
(4, 5, 6) <class 'tuple'> 3041244087424

[98, 54.2, (45+8j), 'sarthak', [1, 2, 3], (4, 5, 6)]
98 <class 'int'> 140715441341248
54.2 <class 'float'> 3041258330896
(45+8j) <class 'complex'> 3041258330032
sarthak <class 'str'> 3041244249712
[1, 2, 3] <class 'list'> 3041244124480
(4, 5, 6) <class 'tuple'> 3041244087424

[98, 54.2, (45+8j), 'sarthak', [1, 2, 3], (4, 5, 6)]
98 <class 'int'> 140715441341248
54.2 <class 'float'> 3041258330896
(45+8j) <class 'complex'> 3041258330032
sarthak <class 'str'> 3041244249712
[1, 2, 3] <class 'list'> 3041244104256
(4, 5, 6) <class 'tuple'> 3041244087424

iv. WAP to create two lists of same elements and print their address, element type, element address and elements. Check the equality of lists.

In [132]:
l1 = [10,20,40]
l2 = [10,20,40]

l1_info = [(i,type(i),id(i)) for i in l1]
l2_info = [(i,type(i),id(i)) for i in l2]

print(l1_info)
print(l2_info)
print(l1 == l2)

[(10, <class 'int'>, 140715441338432), (20, <class 'int'>, 140715441338752), (40, <class 'int'>, 140715441339392)]
[(10, <class 'int'>, 140715441338432), (20, <class 'int'>, 140715441338752), (40, <class 'int'>, 140715441339392)]
True

v. WAP to create the clone and alias of the list and print their address, element type, element address and elements 
Questions

In [134]:
list_a = [10,20,30,40]
list_b = list_a
list_b.append(50)
list_b.append(60)
print("The list_b is: ", list_b)
print("The list_a is: ", list_a)
print(id(list_a),id(list_b))

The list_b is:  [10, 20, 30, 40, 50, 60]
The list_a is:  [10, 20, 30, 40, 50, 60]
3041244026752 3041244026752

v. What are the iteration ways available to acces elements of list

In [136]:
list_v = [1,2,4,5]


# using for loop
for i in list_v:
    print("Using for loop: ", i,end=' ')

# using range funtion
for i in range(len(list_v)):
    print("Using range function: ", list_v[i]+10)
    
# using list comprehension
list_m = [i+8 for i in list_v]
print("Using list comprehension: ", list_m)

# using while loop
n = 0
while n < len(list_v):
    print("Using while loop: ", list_v[n])
    n += 1
    
    
# using enumrate function
for i in enumerate(list_v):
    print("Using enumerate function: ", i)

Using for loop:  1 Using for loop:  2 Using for loop:  4 Using for loop:  5 Using range function:  11
Using range function:  12
Using range function:  14
Using range function:  15
Using list comprehension:  [9, 10, 12, 13]
Using while loop:  1
Using while loop:  2
Using while loop:  4
Using while loop:  5
Using enumerate function:  (0, 1)
Using enumerate function:  (1, 2)
Using enumerate function:  (2, 4)
Using enumerate function:  (3, 5)

1. WAP to create the list perform below operaions on it

In [137]:
## 1. print all elements from list by traversing 

list_1 = [78,67,34,23,13,56]
for i in list_1:
    print("Traversing list: ", i, end=' ')
    
## 2. get maximum from list
print("Maximum of list: ", max(list_1))

## 3. get minimum from list
print("Minimum of list: ", min(list_1))

## 4. reverse the list
list_1.reverse()
print(list_1)

## 5. get sum of all the elements from list
print("The sum of all elements of list: ", sum(list_1))

## 6. get average of all elements from list
print("The average of all elements of list: ", round((sum(list_1)/len(list_1)),2))

## 7. sort the list
list_1.sort()
print("The sorted list is: ", list_1)

Traversing list:  78 Traversing list:  67 Traversing list:  34 Traversing list:  23 Traversing list:  13 Traversing list:  56 Maximum of list:  78
Minimum of list:  13
[56, 13, 23, 34, 67, 78]
The sum of all elements of list:  271
The average of all elements of list:  45.17
The sorted list is:  [13, 23, 34, 56, 67, 78]

In [138]:
list_2 = [78,67,34,23,13,56,56,34,78]

## 8. remove duplicates
dup = []
[dup.append(i) for i in list_2 if i not in dup]
print("The list after removing elements: ", dup)

## 9. check if list is empty or not
empty = []
if len(empty) == 0:
    print("The list is empty")
    
## 10. clone or copy the list
copy_r = list_2.copy()
print('The copy of list is created: ', copy_r)

## 11. add new elements (append and extend)
list_2.append(100)
list_2.extend([500,600,700])
print("The list after appending and extending elements: ", list_2)

## 12. remove elements
list_2.remove(100)
print("The list after removing 100: ", list_2)

## 13. update elements
list_2[0] = 1000
list_2[-1] = 1000
print("The first and last updated elements in the list: ", list_2)

The list after removing elements:  [78, 67, 34, 23, 13, 56]
The list is empty
The copy of list is created:  [78, 67, 34, 23, 13, 56, 56, 34, 78]
The list after appending and extending elements:  [78, 67, 34, 23, 13, 56, 56, 34, 78, 100, 500, 600, 700]
The list after removing 100:  [78, 67, 34, 23, 13, 56, 56, 34, 78, 500, 600, 700]
The first and last updated elements in the list:  [1000, 67, 34, 23, 13, 56, 56, 34, 78, 500, 600, 1000]

In [139]:
list_3 = [100,200,300,400,500,600,700,800,900,1000]

## 14. retrieve element from 3rd and 5th position
print("Element at 3rd position", list_3[3], "and Element at 5th position is: ", list_3[5])

## 15. create another list and compare with list created for earlier questions


## 16. shuffle the list and print all elements
import random
print("The shuffled list is: ", random.shuffle(list_3))

## 17. print element and index of that element
for i in range(len(list_3)):
    print("The element at index ",i,"is: ",list_3[i])
    
## 18. concat two lists
list_4 = [1100,1200,1300,1400,1500]
list_3.extend(list_4)
print("The concatenation of two lists using extend: ", list_3)

Element at 3rd position 400 and Element at 5th position is:  600
The shuffled list is:  None
The element at index  0 is:  500
The element at index  1 is:  700
The element at index  2 is:  400
The element at index  3 is:  100
The element at index  4 is:  600
The element at index  5 is:  1000
The element at index  6 is:  300
The element at index  7 is:  200
The element at index  8 is:  800
The element at index  9 is:  900
The concatenation of two lists using extend:  [500, 700, 400, 100, 600, 1000, 300, 200, 800, 900, 1100, 1200, 1300, 1400, 1500]

In [140]:
list_5 = [12,13,14,12,13,14,14,15,12,13,16,16,12,13]
## 19. convert list t array (without using Numpy)
from array import array
print("The array is: ", array('i',list_5))
## 20. get unique elements from list
unique = []
[unique.append(i) for i in list_5 if i not in unique]
print("Unique elements from the list are: ", unique)
## 21. pop first element from list
list_5.pop(0)
print("List after popping the first element: ", list_5)
## 22. get index of the 1st matching element

## 23. remove all elements from a list
list_5.clear()
print("The list after removing all the elements: ", list_5)
## 24. check whether list containf specific element or not
## 25. check whther element is member of list of not
list_6 = [10,9,8,7,6,5,4]
k = 6
print("Checking if list contains k or not: ", k in list_6)
## 26. get lenght of list
print("The length of list is: ", len(list_6))
## 27. insert element in sorted list and maintain order
sort_list = sorted(list_6)
print(sort_list)
sort_list.append(sort_list[-1]+1)
print("Insert element in sorted list and maintain order: ", sort_list)
## 28. access last three elements using slice operation
print("The last three elements of list are: ", list_6[-4:-1])

The array is:  array('i', [12, 13, 14, 12, 13, 14, 14, 15, 12, 13, 16, 16, 12, 13])
Unique elements from the list are:  [12, 13, 14, 15, 16]
List after popping the first element:  [13, 14, 12, 13, 14, 14, 15, 12, 13, 16, 16, 12, 13]
The list after removing all the elements:  []
Checking if list contains k or not:  True
The length of list is:  7
[4, 5, 6, 7, 8, 9, 10]
Insert element in sorted list and maintain order:  [4, 5, 6, 7, 8, 9, 10, 11]
The last three elements of list are:  [7, 6, 5]

#### 2. create two losts and perform below operations 
	1. concatination
	2. repetations

In [141]:
list_2a = [1,2,3]
list_2b = [4,5,6]
print("Concatenating two lists: ", list_2a + list_2b)
print("Repetation of a list n times: ", list_2a*5)

Concatenating two lists:  [1, 2, 3, 4, 5, 6]
Repetation of a list n times:  [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

#### 3. WAP to retrieve elemnts from random index

In [142]:
import random
list_3a = ['a','b','c','d','e']
ind = [i for i in range(len(list_3a))]
print(list_3a[random.choice(ind)])

c

#### 4. WAP to generate all permutations of a list

In [143]:
list_4a = [1,2,4]
import itertools
list(itertools.permutations(list_4a))

[(1, 2, 4), (1, 4, 2), (2, 1, 4), (2, 4, 1), (4, 1, 2), (4, 2, 1)]

#### 5. WAP to get difference between two lists

In [144]:
list_5a = [1,2,3,4]
list_5b = [3,4,5,6]
print(list(set(list_5a) - set(list_5b)) + list(set(list_5b) - set(list_5a)))

[1, 2, 5, 6]

#### 6. WAP to convert the list of string to chars

In [145]:
list_6a = ['Boy', 'is', 'work', 'ing']
print([y for x in list_6a for y in x])

['B', 'o', 'y', 'i', 's', 'w', 'o', 'r', 'k', 'i', 'n', 'g']

#### 7. WAP to convert Shallow list => a list of lists => [[a,b,c],[d,e,f],[g,h,l]] to flat list [a,b,c,d,e,f,g,h,l]

In [146]:
data = [['a','b','c'],['d','e','f'],['g','h','l']]
print([j for i in data for j in i])

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'l']

#### 8. WAP check whether two lists are circularly identical

In [147]:
list_8a = [9,9,9,3,3]
list_8b = [3,3,9,9,9]

print("".join([str(i) for i in sorted(list_8a)]) == "".join([str(i) for i in sorted(list_8b)]))

True

#### 9. WAP to get second smallest number from list

In [148]:
list_9a = [1,2,3,4,5,1,2,3,9,3,5,6,7,8]
count = 0
new = []
for x in list_9a:
    if(x not in new):
        new.append(x)
        count+=1
    if(count==2):
        break
print(max(new))

2

#### 10 WAP iterate over more than two lists at the same time

In [149]:
list_10a = [1,2,3]
list_10b = [4,5,6]
for x,y in zip(list_10a,list_10b):
    print(x,y)

1 4
2 5
3 6

#### 11. WAP to find whether given string is a palindrome without using reversed() inbuilt function

In [150]:
a = input("Enter the String: ") 
len_a = len(a) 
y = int(len_a/2) 
 
if a[0:y] == a[-1:-y-1:-1]: 
    print(a, " : is a Palindrome String") 
else: 
    print(a, " : is not a Palindrome String")

Enter the String: AAAKAAA
AAAKAAA  : is a Palindrome String

#### 12. Create a tuple and convert it to list

In [151]:
tup_12 = (90,91,92,93,94,95)
print(list(tup_12))

[90, 91, 92, 93, 94, 95]

#### 13. WAP to append sequence to list

In [152]:
list_13 = [30,40,50]
list_13[:0] = [10,20]
print(list_13)

[10, 20, 30, 40, 50]

14. List and explain the time complexities of below operations on list

	Copy
	Append[1]
	Pop last
	Pop intermediate
	Insert
	Get Item
	Set Item
	Delete Item
	Iteration
	Get Slice
	Del Slice
	Set Slice
	Extend[1]
	Sort
	min(s), max(s)
	Get Length

|Operation|Time Complexcity|Explaination|
|:---|:---|:---|
| Copy|O(n)|the algorithms take proportionally longer to complete as the input grows|
|Append[1]|O(1)|take the same amount of time to compute regardless of the input size|
|Pop last|O(1)|take the same amount of time to compute regardless of the input size|
|Pop intermediate|O(n)|the algorithms take proportionally longer to complete as the input grows|
|Insert|O(n)|the algorithms take proportionally longer to complete as the input grows|
|Get Item|O(1)|take the same amount of time to compute regardless of the input size|
|Set Item|O(1)|take the same amount of time to compute regardless of the input size|
|Delete Item|O(n)|the algorithms take proportionally longer to complete as the input grows|
|Iteration|O(n)|the algorithms take proportionally longer to complete as the input grows|
|Get Slice|O(k)|If  k  is independent of the input size (i.e., is constant), there is no difference.k∈Θ(1) |
|Del Slice|O(n)|the algorithms take proportionally longer to complete as the input grows
|Set Slice|O(n+k)| n is the size of array and k is the biggest element in the list |
|Extend[1]|O(k)|If  k  is independent of the input size (i.e., is constant), there is no difference.k∈Θ(1) |
|Sort|O(n log n)|Linearithmic|
|min(s), max(s)|O(n)|the algorithms take proportionally longer to complete as the input grows|
|Get Length|O(1)|take the same amount of time to compute regardless of the input size|

15. WAP to make all strings from a given list equal by replacing minimum number of characters

In [153]:
list_15 = ['AABKK',"LLKKJJOOJJKKLL",'WWWXXXXWWW']
for j in (list_15):
    string = j
    print(j)
    elements = len(string)
    alphabets = [0]*27
    for letter in string:
        alphabets[ord(letter) - 65] = alphabets[ord(letter) - 65] + 1
    alphabets = sorted(alphabets, reverse=True)
    mini = elements + 1
    for count in range(1,27):
        if elements%count == 0:
            stored = elements//count
            swapping = 0
            
        for ele in range(count):
            if stored > alphabets[ele]:
                swapping = swapping + stored - alphabets[ele]
        if swapping <= mini:
            mini = swapping
    if mini == elements+1:
        mini = 0
    print(mini)

AABKK
2
LLKKJJOOJJKKLL
6
WWWXXXXWWW
1

16. Given two list of Holes and Balls consisting of N and M integers respectively, denoting the diameter of holes and balls respectively. M number of balls are made to roll from A to B on a sloping surface with N holes, each having different depth.

The task is to find the eventual position of each ball in the order of the ball released considering the following:

	- A ball will fall into a hole if its diameter is less than or equal to the diameter of the hole.
	- A hole Hi will become full if i numbers of balls fall into it.
	- If a hole is full, then no more balls fall into it.
	- A ball will reach B from A, if and only if it is not falling into any one of the holes.
	- If a ball is in hole Pi, then its position is i. If a ball reached the bottom point B, then take its position as 0.
	
Explanation:

	Ball of diameter 20 will fall into the hole H1 and the hole H1 will become full.
	Balls with diameter 15, 7 and 10 will reach bottom, since the hole H1 is full and diameters of holes H2 and H3 are less than the diameters of the balls.
	Balls with diameters 5, 4 and 2 will fall into the hole H3.
	Ball with diameter 1 will fall into the hole H2 since the hole H3 is already full.
	Ball with diameter 3 will fall into hole H2.
	Balls with diameters 6, and 8 will reach the bottom point B.
	The position of ball 20 is 1 because it is in hole H1.
	Positions of ball 15, 7, 10, 3, 6, and 8 are 0 because they reached the bottom point B.
	Therefore, the balls with diameter 5, 4 and 2 are in the 3rd hole H3, the ball with diameter 1 and 3 are in the 2nd hole H2.
	
	Input: H[] = {20, 15, 10, 5, 25}, B[] = {5, 10, 15, 20, 25, 30, 4, 9, 14, 19}
	Output: 5 5 5 5 5 0 4 3 2 1

## Solve below programs using lists and create anoth solution using list comprehension

#### 17. WAP to extract elements with Frequency greater than K

In [154]:
list_17 = [90,89,90,78,90,56,90,76,76,90,90,87,89,90,89,76,76,78]
k = 2
for i in set(list_17):
    if i in list_17:
        if list_17.count(i) > k:
            print(i, list_17.count(i))
            
print([(i, list_17.count(i)) for i in set(list_17) if i in list_17 if list_17.count(i) > k])

76 4
89 3
90 7
[(76, 4), (89, 3), (90, 7)]

#### 18. WAP to extract elements with equal frequency as value

    Input : test_list = [4, 3, 2, 2, 3, 4, 1, 3, 2, 4, 4] 
    Output : [1, 3, 4] 
    Explanation : All elements occur equal times as their value.

In [155]:
list_18 = [4, 3, 2, 2, 3, 4, 1, 3, 2, 4, 4]
for i in set(list_18):
    if list_18.count(i) == i:
        print(i)
        
print(list(set([i for i in list_18 if list_18.count(i) == i])))

1
3
4
[1, 3, 4]

#### 19. Create the nested list and extract elements of same index

In [156]:
list_19 = [[[98, 45, 4], [13, 24, 98], [76, 102, 34], [57, 21, 43], [98, 85, 31]]]
result = []
for i in list_19[0]:
    result.append(i[1])
print(result)

print([i[1] for i in list_19[0]])

[45, 24, 102, 21, 85]
[45, 24, 102, 21, 85]

#### 20. WAP to update the elements from list who are greater than n (ex. elements greater than 10)

In [157]:
list_20 = [12, 10, 9, 8, 6, 13, 14, 10, 8, 10, 9, 14, 15, 6]

for i in range(len(list_20)):
    if list_20[i] > 10:
        list_20[i] = 100
print(list_20)

list_20 = [12, 10, 9, 8, 6, 13, 14, 10, 8, 10, 9, 14, 15, 6]
print([100  if list_20[i] > 10 else list_20[i] for i in range(len(list_20))])

[100, 10, 9, 8, 6, 100, 100, 10, 8, 10, 9, 100, 100, 6]
[100, 10, 9, 8, 6, 100, 100, 10, 8, 10, 9, 100, 100, 6]

#### 21. WAP to print True if any value in a list is divisible by 2, use "any" function

In [158]:
list_21 = [24,76,45,76,90,43,76,43,23,88]

print(any(list(map(lambda x: x % 2 == 0, list_21))))

True

#### 22. WAP to print True if all values in a list are negative, use "all" function

In [159]:
list_22_1 = [4,-87,+5,-9]
print(all(list(map(lambda x: x < 0, list_22_1))))

list_22_2 = [-4,-87,-5,-9]
print(all(list(map(lambda x: x < 0, list_22_2))))

False
True

#### 23. What is diffrence between reverse and reversed

- The reverse method available to specifically for data types as in the list of their buil-in methods in python.
- The reversed is a built-in function in python not specifically available any list of built-in methods of any data types.
- Let's look at the example:

In [160]:
list_23 = [23,24,25,26,27]
print("Original List: ", list_23)
print("using reversed(): ", list(reversed(list_23)))  # This is a in-built function of python
list_23.reverse() # This is a built-in method of list in python
print("using list.reverse() method: ", list_23)

Original List:  [23, 24, 25, 26, 27]
using reversed():  [27, 26, 25, 24, 23]
using list.reverse() method:  [27, 26, 25, 24, 23]

#### 24. Is it pssible to sort an list of int having None in it. What will happen if we try to perform any operation on such lists.

- None is a special constant that represents the null value or absence. It is an object which has it's own data type. There is limitation to create multiple None objects but we can assign them to variables. The care should be taken that, None does not implies 0 or False or any empty list, string or dictionary.
- So, here can not sort an list of integers having None in it. It will trace back a TypeError. An TypeError generally suggests that, it occurs when our operation is correct but the data is wrong.

In [162]:
list_24 = [67,89,None,88]
print(sorted(list_24))

TypeError: '<' not supported between instances of 'NoneType' and 'int'

#### 25. Implement stack and queue using list

In [163]:
def stack(list_input):
    n1 = int(input("Enter first number: "))
    list_input.append(n1)
    n2 = int(input("Enter second number: "))
    list_input.append(n2)
    n3 = int(input("Enter third number: "))
    list_input.append(n3)
    print(list_input)
    for i in range(len(list_input)):
        list_input.pop()
    print(list_input)
    
stack([23,24,25,26])

Enter first number: 52
Enter second number: 42
Enter third number: 14
[23, 24, 25, 26, 52, 42, 14]
[]

In [164]:
from collections import deque
queue=deque([1,2,3])
queue.append(4)
print(queue)
queue.append(5)
print(queue)

print(queue.popleft())
print(queue)

deque([1, 2, 3, 4])
deque([1, 2, 3, 4, 5])
1
deque([2, 3, 4, 5])

#### 26. Reverse the list using slice.

In [165]:
list_26 = [25,26,27,28]
print(list_26[::-1])

[28, 27, 26, 25]

## Data Structure: Tuple

#### Prerequisites
#### i. Define ways to create the tuple
A tuple is a sequence of values. The values can be any type, and they are indexed by integers, so in that respect tuples are a lot like lists. The important difference is that tuples are immutable. A tuple is a comma-separated list of values. It is not necessary, it is common to enclose tuples in circular parentheses.
Because tuple is the name of a built-in function, you should avoid using it as a variable name.

In [166]:
# To create a tuple with a single element, you have to include a final comma:
tup1 = 'x',
print(type(tup1))

<class 'tuple'>

In [167]:
tup2 = ('p')
print(type(tup2))

<class 'str'>

In [168]:
# Another way to create a tuple is the built-in function tuple. With no argument, it creates an empty tuple
tup3 = tuple()
print(tup3)

()

In [169]:
# If the argument is a sequence (string, list or tuple), the result is a tuple with the elements of the sequence
tup4 = tuple('sarthak')
print(tup4)

('s', 'a', 'r', 't', 'h', 'a', 'k')

#### ii. What are the iteration ways available to acces elements of tuple 

To iterate through all the elements of tuple, we can use for loop.

In [170]:
tup5 = ("Left", "Right", "Up", "Down")
for i in tup5:
    print(i)

Left
Right
Up
Down

In [171]:
for i in enumerate(tup5):
    print(i)

(0, 'Left')
(1, 'Right')
(2, 'Up')
(3, 'Down')

In [172]:
for i in range(len(tup5)):
    print(tup5[i])

Left
Right
Up
Down

#### 27. Create tuple and perform below operations on it
    1. get size of tuple using getsizefo() and __sizeof__()
    2. access tuple using index and slice operations 
    3. get length of tuple 
    4. ge tcount of element 
    5. sort the tuple in natural order
    6. fin min and max from tuple 
    7. check if given element exist in the tuple or not

In [173]:
import sys
print("1. get size of tuple using getsizefo() and __sizeof__()")
tup27_1 = ("Level", 23, "Height", 45, "Length", 55)
print("getsizeof: ", sys.getsizeof(tup27_1))
# getsizeof calls the object’s __sizeof__ method and adds an additional garbage collector overhead 
# if the object is managed by the garbage collector.

print("\n2. access tuple using index and slice operations")
tup27_2 = ('Joy', 45, 'Look', [98.56,25], 'Ola')
print("The first element using index: ", tup27_2[0])
print("Inner element using index: ", tup27_2[3][1])
print("Use of slicing: ", tup27_2[::-1])
print("Use of slicing: ", tup27_2[::2])


print("\n3. get length of tuple : ", len(tup27_2))

print("\n4. get count of element of Ola: ", tup27_2.count('Ola'))

print("\n5. sort the tuple in natural order")
tup27_5 = ('Joy', '45', 'Look', 'Kila', 'Ola')
print(sorted(tup27_5))

print("\n6. fin min and max from tuple")
print("Min of tuple is: ", min(tup27_5))
print("Max of tuple is: ", max(tup27_5))

print("\n7. check if given element exist in the tuple or not")
for i in tup27_5:
    if i in tup27_2:
        print(i,True)
    else:
        print(i,False)

1. get size of tuple using getsizefo() and __sizeof__()
getsizeof:  88

2. access tuple using index and slice operations
The first element using index:  Joy
Inner element using index:  25
Use of slicing:  ('Ola', [98.56, 25], 'Look', 45, 'Joy')
Use of slicing:  ('Joy', 'Look', 'Ola')

3. get length of tuple :  5

4. get count of element of Ola:  1

5. sort the tuple in natural order
['45', 'Joy', 'Kila', 'Look', 'Ola']

6. fin min and max from tuple
Min of tuple is:  45
Max of tuple is:  Ola

7. check if given element exist in the tuple or not
Joy True
45 False
Look True
Kila False
Ola True

#### 28. concatinate two tuples and create third

In [174]:
tup28_1 = (34, 'New', 'Old', 789, '@_67')
tup28_2 = (98, 'Load', 'Create', '&$__k', 34)
tup28_3 = ()
tup28_4 = tup28_1 + tup28_2 + tup28_3
print(tup28_4)

(34, 'New', 'Old', 789, '@_67', 98, 'Load', 'Create', '&$__k', 34)

#### 29. perform repetation operation on tuple

In [175]:
tup29_1 = (34, 'New', 'Old')
tup29_2 = tup29_1*3
print(tup29_2)

(34, 'New', 'Old', 34, 'New', 'Old', 34, 'New', 'Old')

#### 30. Create two tuples and compare elements using cmp

In [178]:
tup30_1 = (34, 'New', 'Old', 789, '@_67')
tup30_2 = (98, 'Load', 'Create', '&$__k', 34)

print(cmp(tup30_1,tup30_2))
# This is not available in Python3.x
# This method was available in Python 2.x

NameError: name 'cmp' is not defined

#### 31. a= 10, b=20, c=30, d=40

    Perform packing and unpacking of above elements and print them

In [179]:
a= 10
b=20
c=30
d=40
print("Packing of tuple")
tap31_1 = (a, b, c, d)
print(tap31_1)
(first, second, third, fourth) = tap31_1
print("Unpacking of tuple")
print(first)
print(second)
print(third)
print(fourth)

Packing of tuple
(10, 20, 30, 40)
Unpacking of tuple
10
20
30
40

#### 32. What is difference between list and tuple

| List | Tuple |
| :--: | :--:  |
|The List in python have dynamic charachteristics. |Tuple is the most secured data type in python.|
|List is mutable | Tuple is immutable |
|List is semipacked data. |Tuple is an example of a completely packed data.|
| Creating a list is slower because two memory blocks need to be accessed. | Creating a tuple is faster than creating a list.|
| Lists are not stored in cache memory. Thy are stored in dump() method. | Tuple are stored in cache memory so they are faster |

#### 33. What is internal representation of list and tuple

- The list are stored in a dump() mehtod. Due to which the we need two memory blocks to be accessed. This results is slower execution time.
- The tuples are stored in cache memory. The cache memory results in faster execution time than list. ALthough, this is really negligible for small length of list and tuples. It can be observed when the length of list and tuples is considerably large.
- Since a tuple's size is fixed, it can be stored more compactly than lists which need to over-allocate to make append() operations efficient.

In [180]:
import sys
print(sys.getsizeof(tuple(iter(range(100000)))))
print(sys.getsizeof(list(iter(range(100000)))))

800040
900104

In [181]:
import timeit

execu_list = timeit.Timer('x=[100, 200, 300, 400, 500]')
execu_list.timeit()
execu_tuple = timeit.Timer('x=(100, 200, 300, 400, 500)')
execu_tuple.timeit()

if execu_list.timeit() < execu_tuple.timeit():
    print("List is faster than Tuple")
else:
    print("Tuple is faster than List")

Tuple is faster than List

#### 34. Create list and convert it to tuple and viceversa

In [182]:
list_34 = [98, 56, 'LOL', 'Passion']
converted_tuple = tuple(list_34)
print(converted_tuple)
tup_34 = (76, 'Good', [101,102,102], 'New')
converted_list = list(tup_34)
print(converted_list)

(98, 56, 'LOL', 'Passion')
[76, 'Good', [101, 102, 102], 'New']

#### 35. convert list of lists to tuple of tuple

In [183]:
lists_group = [[1,2,4],[5,6,7],[8,9,7]]
tup_of_tups = tuple(tuple(i) for i in lists_group)
print(tup_of_tups)

((1, 2, 4), (5, 6, 7), (8, 9, 7))

#### 36. WAP to create a tuple with different data types, print the element, address and type

In [184]:
tup_36 = (98, 78.4, 'fil', [4,5,6], (7,8,9), {4:'A',7:'B'})
for i in range(len(tup_36)):
    print(tup_36[i], type(tup_36[i]), id(tup_36[i]))

98 <class 'int'> 140715441341248
78.4 <class 'float'> 3041244230480
fil <class 'str'> 3040920149488
[4, 5, 6] <class 'list'> 3041244147648
(7, 8, 9) <class 'tuple'> 3041244086336
{4: 'A', 7: 'B'} <class 'dict'> 3041244080256

#### 37. Create tuple and add element in it. As tuples are immutable, will it able to add new element in the tuple, provided the reason in both Yes and No cases.

- Tuples are ordered, they can contain arbitrary objects, they can be indexed and sliced, they can be nested. But they can't be modified. There is no append or extend method defined for tuples. That is why tuples are considered as most secured data type.

- The execution time is faster for tuples as compared to list. Sometimes in some real life scenarios, like saving data of bank user. Bank don’t want data to be modified, if the values in the collection are meant to remain constant for the life. 

- The dictionary is also often used for this purposes, but there is different syntax of nested dictionaries.But, we cannot use list for this purpose.

- So, we cannot add a element tothe tuple as they are immutable and look at the TypeError which is trace backed:

In [185]:
tup_37 = (90,14.6, 'Hey')
tup_37[3] = 'New'

TypeError: 'tuple' object does not support item assignment

#### 38. Create tuple and remove element it. As tuples are immutable, will it able to add new element in the tuple, provided the reason in both Yes and No cases.

- We cannot remove any element from the tuple as they are immutable. For time being we can use indexing or slicing to avoid any element which is present in a tuple. Tuple has no attribute remove and also there is another example given that tuple doesn't support item deletion.

In [186]:
tup_38 = (90,14.6, 'Hey')
tup_38.remove(0)

AttributeError: 'tuple' object has no attribute 'remove'

In [187]:
del tup_38[0]

TypeError: 'tuple' object doesn't support item deletion

#### 39. WAP to convert tuple of chars to string

In [188]:
tup_39 = ('g', 'o', 'd', 'i', 's', 'g', 'r', 'e', 'a', 't')
print(''.join(tup_39))

godisgreat

#### 40. WAP to convert a list of tuples into a dictionary

In [189]:
tup_40 = [('One',1),('Two',2),('Three',3)]
final = {x:y for x,y in tup_40}
print(final)

{'One': 1, 'Two': 2, 'Three': 3}

#### 41. WAP to replace last value of tuples in a list.

Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
    
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [190]:
tup_41 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in tup_41])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

#### 42. WAP to remove an empty tuple(s) from a list of tuples

In [191]:
tup_42 = [(), (), 90,56,45]
print([i for i in tup_42 if i])

[90, 56, 45]

#### 43. There is a tuple, each item represent name and marks of student. List Ex. [(Karthik, 78, 67, 93), (Sarthak, 81, 73, 92)]

In [192]:
tup_43 = [('Karthik', 78, 67, 93), ('Sarthak', 81, 73, 92), ('Shreyas', 39, 67, 58), ('Sonali', 89, 78, 68),('Akshay',86,42,98),('Chessy',38,56,61)]

#### 1. We need to identify first three toppers of the batch. Print their score and average.

In [193]:
scores, names = [], []
for i in tup_43:
    marks = 0
    name = ''
    for j in i:
        if isinstance(j,int):
            marks += j
        else:
            name = j
    scores.append(marks)
    names.append(name)
score = scores.copy()
n = 3
top_3_indices = []
while n != 0:
    top_3_indices.append(score.index(max(score)))
    score[score.index(max(score))] = 0
    n -= 1
for i in top_3_indices:
    print(names[i], "has scored", scores[i], "have average of", round(scores[i]/len(tup_43),2))

Sarthak has scored 246 have average of 41.0
Karthik has scored 238 have average of 39.67
Sonali has scored 235 have average of 39.17

#### 2. We need to get the topper in each subject

In [194]:
first, second, third = [],[],[]
for i in range(len(tup_43)):
    first.append(tup_43[i][1])
    second.append(tup_43[i][2])
    third.append(tup_43[i][3])
    
n = 1
while n!=0:
    print("Topper in first subject is: ", tup_43[first.index(max(first))][0])
    print("Topper in second subject is: ", tup_43[second.index(max(second))][0])
    print("Topper in third subject is: ", tup_43[third.index(max(third))][0])
    n -= 1

Topper in first subject is:  Sonali
Topper in second subject is:  Sonali
Topper in third subject is:  Akshay

#### 3. We need to know te list of students failed in the any subject (passing marks = 40)

In [195]:
for i in tup_43:
    name = ''
    status = ''
    for j in i:
        if isinstance(j,int):
            if j < 40:
                status = 'Failed'
                print(name,status,j)
            else:
                status = 'Passed'
        else:
            name = j

Shreyas Failed 39
Chessy Failed 38

#### 44. WAP to convert of list of tuples to list of lists

In [196]:
tup_44 = [('Karthik', 78, 67, 93), ('Sarthak', 81, 73, 92), ('Shreyas', 39, 67, 58), ('Sonali', 89, 78, 68),('Akshay',86,42,98),('Chessy',38,56,61)]

list_44 = [list(i) for i in tup_44]
print(list_44)

[['Karthik', 78, 67, 93], ['Sarthak', 81, 73, 92], ['Shreyas', 39, 67, 58], ['Sonali', 89, 78, 68], ['Akshay', 86, 42, 98], ['Chessy', 38, 56, 61]]

#### 45. Sort the list of tuples by second item

In [197]:
import operator
tup_45 = [('Karthik', 78, 67, 93), ('Sarthak', 81, 73, 92), ('Shreyas', 39, 67, 58), ('Sonali', 89, 78, 68),('Akshay',86,42,98),('Chessy',38,56,61)]

print(sorted(tup_45,key=operator.itemgetter(1)))

[('Chessy', 38, 56, 61), ('Shreyas', 39, 67, 58), ('Karthik', 78, 67, 93), ('Sarthak', 81, 73, 92), ('Akshay', 86, 42, 98), ('Sonali', 89, 78, 68)]

#### 46. remove the tuples of length 3 from list

In [198]:
tup_46 = [('Chessy', 38, 'Failed'), ('Shreyas', 39, 67, 58, 'Failed'), ('Karthik', 'Passed'), ('Sarthak', 81, 73, 92), ('Akshay', 86, 'Passed'), ('Sonali', 68)]

for i in tup_46:
    if len(i) == 3:
        tup_46.remove(i)
print(tup_46)

[('Shreyas', 39, 67, 58, 'Failed'), ('Karthik', 'Passed'), ('Sarthak', 81, 73, 92), ('Sonali', 68)]

#### 47. WAP to sort the list in tuple

In [199]:
tup_47 = ('Shreyas', 39, 67, 58, 'Failed',[76,  81, 73, 92])
for i in tup_47:
    if type(i) == list:
        i.sort()
print(tup_47)

('Shreyas', 39, 67, 58, 'Failed', [73, 76, 81, 92])

## Data Structure: Dictionary(Dict) 

#### i.Write short note on dictionary

The dictionary is a Python data structure. Dictionary is mutable and it is iterable python object but, it's not a sequence type. But we can do sequence processing with dictionaries.
The element we look for in a diction is key. The reuslt we get from the dictionary by accessing the key is value.

This means that a dictionary is a set of key-value pairs.

- Each key must be unique - it's not possible to have more than one key of the same value.
- A key may be data of any type (except list): it may be a number (integer or float), or even a string.
- A dictionary is not a list - a list contains a set of numbered values, while a dictionary holds pairs of values.
- The memory location is replaced by latest value.
- A dictionary is a one-way tool - if you have an English-German dictionary, you can look for German equivalents of English terms, but not vice versa.

In [200]:
dictionary = {"Animal" : "Lion", "Bird" : "Sparrow", "Flower" : "Hibiscus"}
phone_numbers = {'Sarthak' : 5551234567, 'Chistats' : 22657854310}
empty_dictionary = {}

print(dictionary)
print(phone_numbers)
print(empty_dictionary)

{'Animal': 'Lion', 'Bird': 'Sparrow', 'Flower': 'Hibiscus'}
{'Sarthak': 5551234567, 'Chistats': 22657854310}
{}

1. First example, the dictionary uses keys and values which are both strings. 
2. Seconf example, the keys are strings, but the values are integers. The reverse layout (keys → numbers, values → strings) is also possible, as well as number-number combination.
3. Third example, it is an empty dictionary
3. The list of pairs is surrounded by curly braces, while the pairs themselves are separated by commas, and the keys and values by colons.

#### ii. Write a detail note on below 

    1. What internally happens when we create a dictionary
    2. What happend when we try to add new element in the dictionary
    3. WHat happend when

1. When we create a dictionary, the the object type dict is assigned to it by the python interpreter after locating that there key value pairs separated by colon and these pairs are enclosed within curly braces. By which it is possble for us to apply all the methods which are applicable to a dictionary. 
2.

#### 48. WAP to create the dictionry and perform below steps

**Answers for 3 questions**
##### 1. print elements from it in key value format using all methods of iteration
##### 8. get all keys from the dictionary
##### 9. get all values from dictionary

In [201]:
tech_companies = {'Apple':1976, 'Microsoft':1975, 'IBM': 1911, 'Oracle':1978}
print("The dictionary we have is: ", tech_companies)

print("\nDictionary gives preference to keys while ieterating, if nothing is mentioned")
for key in tech_companies:
    print(key, end =' ')

print("\n\nAnother way to iterate over keys")
for key in tech_companies.keys():
    print(key, end=' ')

print("\n\nFor iterating through values, we should mention that like this")
for value in tech_companies.values():
    print(value, end=' ')
    
print("\n\nWe can iterate using the items function (which returns key:value pairs)")
for items in tech_companies.items():
    print(items, end=' ')
    
print("\n\nAnother way to iterate using items, if we want to perform some operations on values of dictionary")
for key, value in tech_companies.items():
    print("The", key,"Company was founded in", value)

The dictionary we have is:  {'Apple': 1976, 'Microsoft': 1975, 'IBM': 1911, 'Oracle': 1978}

Dictionary gives preference to keys while ieterating, if nothing is mentioned
Apple Microsoft IBM Oracle

Another way to iterate over keys
Apple Microsoft IBM Oracle

For iterating through values, we should mention that like this
1976 1975 1911 1978

We can iterate using the items function (which returns key:value pairs)
('Apple', 1976) ('Microsoft', 1975) ('IBM', 1911) ('Oracle', 1978)

Another way to iterate using items, if we want to perform some operations on values of dictionary
The Apple Company was founded in 1976
The Microsoft Company was founded in 1975
The IBM Company was founded in 1911
The Oracle Company was founded in 1978

##### 2. update the elements from above dictionary

In [202]:
tech_companies = {'Apple':1976, 'Microsoft':1975, 'IBM': 1911, 'Oracle':1978}
print("Establishment of Oracle is wrong in the dictionary")

tech_companies.update({'Oracle':1979})   # updating the value one way
print(tech_companies)
print("\nAgain the year is wrong")
tech_companies['Oracle'] = 1977       # upating the value second way
print(tech_companies)

Establishment of Oracle is wrong in the dictionary
{'Apple': 1976, 'Microsoft': 1975, 'IBM': 1911, 'Oracle': 1979}

Again the year is wrong
{'Apple': 1976, 'Microsoft': 1975, 'IBM': 1911, 'Oracle': 1977}

**Answers for both**

**3. delete elements**

**6. return and remove the value associsted with specific key**

In [203]:
print("removing a key will always cause the removal of the associated value. Values cannot exist without their keys.")
del tech_companies['Oracle']

print(tech_companies)

removing a key will always cause the removal of the associated value. Values cannot exist without their keys.
{'Apple': 1976, 'Microsoft': 1975, 'IBM': 1911}

##### 4. empty the dictionary

In [204]:
tech_copy = tech_companies.copy()
print(tech_copy)
tech_copy.clear()
print("After clearing the dict: ", tech_copy)

{'Apple': 1976, 'Microsoft': 1975, 'IBM': 1911}
After clearing the dict:  {}

##### 5. get size of dictionary

In [205]:
print("The size/length of dictionary is: ", len(tech_companies))

The size/length of dictionary is:  3

##### 7. remove arbitary item from the dictionary

In [206]:
print("The arbitary item dropped from dict is: ", tech_companies.popitem())
print(tech_companies)

The arbitary item dropped from dict is:  ('IBM', 1911)
{'Apple': 1976, 'Microsoft': 1975}

##### 10. get list of tuples from the dict and represent it in the key value pair

In [207]:
tech_companies = {'Apple':1976, 'Microsoft':1975, 'IBM': 1911, 'Oracle':1978}
print("Returns key:value pairs")
for items in tech_companies.items():
    print(items, end=' ')

Returns key:value pairs
('Apple', 1976) ('Microsoft', 1975) ('IBM', 1911) ('Oracle', 1978)

##### 11. create the copy of the list

In [208]:
import copy

dict_sc = copy.copy(tech_companies)
dict_dc = copy.deepcopy(tech_companies)

##### 12. Update the dictionary value

In [209]:
tech_companies['Apple'] = 1987
print(tech_companies)

{'Apple': 1987, 'Microsoft': 1975, 'IBM': 1911, 'Oracle': 1978}

##### 13. get dictionary with the specified keys and value

In [210]:
print(tech_companies.get('Micromax'))
print(tech_companies.get('Microsoft'))

None
1975

##### 14. filter the dictionary

In [211]:
dictionary = {key: key*5 for key in range(0, 15) }
data = {key: dictionary[key] for key in dictionary.keys() if key%2 == 0}
print(data)

{0: 0, 2: 10, 4: 20, 6: 30, 8: 40, 10: 50, 12: 60, 14: 70}

#### 49. explore the function setdefault

The setdefault() method returns the value of a key (if the key is in dictionary). If not, it inserts key with a value to the dictionary.

#### 50. WAP to get occurances of each letter present in  given string

In [212]:
str1 = 'hhhkoookshhsiofpsokgjshsgkjf'
uniqu = set(str1)
for i in uniqu:
    print(i, "has", str1.count(i), "occurences")

s has 5 occurences
j has 2 occurences
f has 2 occurences
o has 5 occurences
h has 6 occurences
g has 2 occurences
i has 1 occurences
p has 1 occurences
k has 4 occurences

#### 51. There is a dict, each item represent name and marks of student.

In [213]:
exam_results = {}

for i in range(10):
    exam_results[i] = {}
    exam_results[i]['student_name'] = fake.name()
    exam_results[i]['Maths'] = np.random.randint(0,101)
    exam_results[i]['Physics'] = np.random.randint(0,101)
    exam_results[i]['Chemistry'] = np.random.randint(0,101)

print(exam_results)

{0: {'student_name': 'Danielle Bowman', 'Maths': 93, 'Physics': 12, 'Chemistry': 31}, 1: {'student_name': 'Christopher Garrett', 'Maths': 63, 'Physics': 31, 'Chemistry': 8}, 2: {'student_name': 'David Vargas', 'Maths': 43, 'Physics': 1, 'Chemistry': 49}, 3: {'student_name': 'Brandon Jones', 'Maths': 49, 'Physics': 96, 'Chemistry': 73}, 4: {'student_name': 'Jacob Simpson', 'Maths': 44, 'Physics': 81, 'Chemistry': 81}, 5: {'student_name': 'Michelle Nichols', 'Maths': 65, 'Physics': 86, 'Chemistry': 46}, 6: {'student_name': 'Brandon Edwards DVM', 'Maths': 35, 'Physics': 24, 'Chemistry': 19}, 7: {'student_name': 'Taylor Simon MD', 'Maths': 45, 'Physics': 15, 'Chemistry': 59}, 8: {'student_name': 'Roger Noble', 'Maths': 92, 'Physics': 21, 'Chemistry': 45}, 9: {'student_name': 'Robert Thomas', 'Maths': 100, 'Physics': 70, 'Chemistry': 88}}

#### 1. We need to identify first three toppers of the batch. Print their score and average.

In [255]:
scores = []
for roll_no,details in exam_results.items():
    marks = 0
    for agenda,detail in details.items():
        if type(exam_results[roll_no][agenda])  == int:
            marks += exam_results[roll_no][agenda]
        else:
            pass  
    scores.append(marks)
roll_nos = []
iterator = scores.copy()
for i in range(3):
    for j in iterator:
        roll_nos.append(iterator.index(max(iterator)))
        iterator.pop(iterator.index(max(iterator)))
top_3 = roll_nos[:3]
names = [exam_results[i]['student_name'] for i in top_3]
scores = sorted(scores,reverse=True)
#final = dict(zip(names,scores[:3]))
final = {names[i]: scores[:3][i] for i in range(len(names))}
average = [round(final[key]/3,2) for key in final.keys()]
ave_dict = {names[i]: average[:3][i] for i in range(len(average))}
print("The dictionary of Top 3 Scores: ", final)
print("The dictionary of Top 3 averages: ", ave_dict)

The dictionary of Top 3 Scores:  {'Robert Thomas': 258, 'Brandon Jones': 206}
The dictionary of Top 3 averages:  {'Robert Thomas': 86.0, 'Brandon Jones': 68.67}

#### 2. We need to get the topper in each subject

In [218]:
subs = []
for roll_no,details in exam_results.items():
    for agenda,detail in details.items():
        if type(exam_results[roll_no][agenda])  == int:
            subs.append(agenda)         
print(set(subs))
maths, phy, chem = [], [], []
for roll_no,details in exam_results.items(): 
    for agenda,detail in details.items():
        if agenda == subs[0]:
            maths.append(exam_results[roll_no][agenda])
        if agenda == subs[1]:
            phy.append(exam_results[roll_no][agenda])
        if agenda == subs[2]:
            chem.append(exam_results[roll_no][agenda])
math_toppers, phy_toppers, chem_toppers = [], [], []
math, phys, chemy = maths.copy(), phy.copy(), chem.copy()
n = 3
while n != 0:
    math_toppers.append(max(math))
    math.pop(math.index(max(math)))
    phy_toppers.append(max(phys))
    phys.pop(phys.index(max(phys)))
    chem_toppers.append(max(chemy))
    chemy.pop(chemy.index(max(chemy)))
    n -= 1
    
roll_no_maths = [maths.index(i) for i in math_toppers]
roll_no_phy = [phy.index(i) for i in phy_toppers]
roll_no_chem = [chem.index(i) for i in chem_toppers]

math_toppers_name = [exam_results[i]['student_name'] for i in roll_no_maths]
phy_toppers_name = [exam_results[i]['student_name'] for i in roll_no_phy]
chem_toppers_name = [exam_results[i]['student_name'] for i in roll_no_chem]
print("Math Toppers are: ", math_toppers_name)
print("Physics Toppers are: ", phy_toppers_name)
print("Chemistry Toppers are: ", chem_toppers_name)

{'Maths', 'Physics', 'Chemistry'}
Math Toppers are:  ['Robert Thomas', 'Danielle Bowman', 'Roger Noble']
Physics Toppers are:  ['Brandon Jones', 'Michelle Nichols', 'Jacob Simpson']
Chemistry Toppers are:  ['Robert Thomas', 'Jacob Simpson', 'Brandon Jones']

#### 3. We need to know te list of students failed in the any subject (passing marks = 40)

In [219]:
for roll_no,details in exam_results.items():
    for agenda,detail in details.items():
        if type(exam_results[roll_no][agenda])  == int:
            if exam_results[roll_no][agenda] < 40:
                print("The student", exam_results[roll_no]['student_name'],"is failed in", agenda, "by scoring", exam_results[roll_no][agenda])

The student Danielle Bowman is failed in Physics by scoring 12
The student Danielle Bowman is failed in Chemistry by scoring 31
The student Christopher Garrett is failed in Physics by scoring 31
The student Christopher Garrett is failed in Chemistry by scoring 8
The student David Vargas is failed in Physics by scoring 1
The student Brandon Edwards DVM is failed in Maths by scoring 35
The student Brandon Edwards DVM is failed in Physics by scoring 24
The student Brandon Edwards DVM is failed in Chemistry by scoring 19
The student Taylor Simon MD is failed in Physics by scoring 15
The student Roger Noble is failed in Physics by scoring 21

#### 4. Display marks of student by taking student name as input from console

In [221]:
name = input("Enter the name: ")
for roll_no,details in exam_results.items():
    for agenda,detail in details.items():
        if exam_results[roll_no]['student_name'] == name:
            print(details, end=' ')
            break

Enter the name: Danielle Bowman
{'student_name': 'Danielle Bowman', 'Maths': 93, 'Physics': 12, 'Chemistry': 31}

#### 52. Ways to sort list of dictionaries by values in Python – Using itemgetter

In [222]:
import operator
listdict = [{'student_name': 'Erika Clark DDS', 'Maths': 54, 'Physics': 39, 'Chemistry': 86}, 
            {'student_name': 'Lawrence Bailey', 'Maths': 86, 'Physics': 65, 'Chemistry': 25}, 
            {'student_name': 'Mario Jacobs', 'Maths': 29, 'Physics': 31, 'Chemistry': 16}, 
            {'student_name': 'Chad Johnson', 'Maths': 50, 'Physics': 86, 'Chemistry': 75}, 
            {'student_name': 'Jacqueline Weber', 'Maths': 44, 'Physics': 47, 'Chemistry': 85}, 
            {'student_name': 'Jimmy Lee', 'Maths': 59, 'Physics': 21, 'Chemistry': 64}, 
            {'student_name': 'David Cooper DDS', 'Maths': 71, 'Physics': 2, 'Chemistry': 33}]

print((sorted(listdict, key = operator.itemgetter('Maths'), reverse = True)))

[{'student_name': 'Lawrence Bailey', 'Maths': 86, 'Physics': 65, 'Chemistry': 25}, {'student_name': 'David Cooper DDS', 'Maths': 71, 'Physics': 2, 'Chemistry': 33}, {'student_name': 'Jimmy Lee', 'Maths': 59, 'Physics': 21, 'Chemistry': 64}, {'student_name': 'Erika Clark DDS', 'Maths': 54, 'Physics': 39, 'Chemistry': 86}, {'student_name': 'Chad Johnson', 'Maths': 50, 'Physics': 86, 'Chemistry': 75}, {'student_name': 'Jacqueline Weber', 'Maths': 44, 'Physics': 47, 'Chemistry': 85}, {'student_name': 'Mario Jacobs', 'Maths': 29, 'Physics': 31, 'Chemistry': 16}]

#### 53. Ways to sort list of dictionaries by values in Python – Using lambda function

In [223]:
dict_1 = {'student_name':'Erika Clark DDS', 'Maths': 54, 'Physics': 39, 'Chemistry': 86}
dict_2 = {'student_name': 'Jacqueline Weber', 'Maths': 44, 'Physics': 47, 'Chemistry': 85}
dict_1.update(dict_2)
print(dict_1)

{'student_name': 'Jacqueline Weber', 'Maths': 44, 'Physics': 47, 'Chemistry': 85}

#### 54. WAP to merge two Dictionaries

In [224]:
dict_1 = {'a': 1, 'b': 2}
dict_2 = {'b':3, 'c':4}
merged_dict = (lambda dict_1, dict_2: (lambda dict_1_copy: dict_1_copy.update(dict_2) or dict_1_copy)(dict_1.copy()))(dict_1, dict_2)
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

#### 55. Convert Key-Value list Dictionary to List of Lists

In [225]:
dict_1 = {'a': [1,2,3], 'b': [4,5,6]}
final_list = [[key] + val for key, val in dict_1.items()]
print(final_list)

[['a', 1, 2, 3], ['b', 4, 5, 6]]

#### 56. Convert List to List of dictionaries

In [226]:
data = ['Erika Clark DDS', 'Maths','Thomas Webb','Physics']
keys = ["name", "subject"]
final = [{keys[0]: data[i], keys[1]: data[i + 1]} for i in range(0, len(data),2)]
print(final)

[{'name': 'Erika Clark DDS', 'subject': 'Maths'}, {'name': 'Thomas Webb', 'subject': 'Physics'}]

#### 57. Convert Lists of List to Dictionary

In [227]:
organizations = [['Chevrolet', 1987, 'Automobile'],
           ['Apple', 1977, 'Technology'],
           ['Flairs', 1965, 'Chemical']]

organizations = {i[0]: i[1:] for i in organizations}
print(organizations)

{'Chevrolet': [1987, 'Automobile'], 'Apple': [1977, 'Technology'], 'Flairs': [1965, 'Chemical']}

#### 58. Convert List of Dictionaries to List of Lists

In [228]:
list_of_dict = [{'name': 'Erika Clark DDS', 'subject': 'Maths'}, {'name': 'Thomas Webb', 'subject': 'Physics'}]
d = {}
for e in list_of_dict:
    for i,j in e.items():
        d.setdefault(i, []).append(j)
newList = d.values()
print (newList)

dict_values([['Erika Clark DDS', 'Thomas Webb'], ['Maths', 'Physics']])

#### 59. Convert key-values list to flat dictionary

In [229]:
names = ['Erika Clark DDS','Thomas Webb','Soniya Chef']
scores = [52,86,43]
detail = {names[i] : scores[i] for i in range(len(names))}
print(detail)

{'Erika Clark DDS': 52, 'Thomas Webb': 86, 'Soniya Chef': 43}

#### 60. Convert a list of Tuples into Dictionary

In [230]:
list_a = [('FYJC','MAT001'),('SYJC','ENG001')]
new_dict = {}
value = []
for i in range(len(list_a)):
    key = list_a[i][0]
    value.append(list_a[i][1])
    new_dict[key] = value
print(new_dict)

{'FYJC': ['MAT001', 'ENG001'], 'SYJC': ['MAT001', 'ENG001']}

#### 61. Convert Nested dictionary to Mapped Tuple

In [231]:
nes = {0: {'book_name': 'Main get.', 'author_name': 'David Allen'},
 1: {'book_name': 'Main get', 'author_name': 'Davidallen'}}

agendas = []
for key,details in nes.items():
    for agenda,detail in details.items():
        agendas.append(agenda)
        print(agenda,nes[key][agenda])

        
for topic in set(agendas):
    for book_no,details in nes.items():
        for agenda in details.items():
            pass
        print(agenda)

book_name Main get.
author_name David Allen
book_name Main get
author_name Davidallen
('author_name', 'David Allen')
('author_name', 'Davidallen')
('author_name', 'David Allen')
('author_name', 'Davidallen')

#### 62. WAP to find winner of election

Input :  votes = ["john", "johnny", "jackie", 
                    "johnny", "john", "jackie", 
                    "jamie", "jamie", "john",
                    "johnny", "jamie", "johnny", 
                    "john"]
    
Output : John
    
We have four Candidates with name as 'John', 'Johnny', 'jamie', 'jackie'. The candidates John and Johny get maximum votes. Since John is alphabetically smaller, we print it.

In [261]:
votes = ["john", "johnny", "jackie", "johnny", "john", "jackie", 
        "jamie", "jamie", "john","johnny", "jamie", "johnny", "john"]
candidates = set(votes)

votes_got = []
for candidate in candidates:
    votes_got.append(votes.count(candidate))

final = {x: y for x,y in zip(candidates,votes_got)}

print(final)
print(list(final.keys())[list(final.values()).index(max(sorted(final.values())))])

{'jackie': 2, 'john': 4, 'johnny': 4, 'jamie': 3}
john

#### 63. Create a dictionary/ nested  dict of which will held books name, author name, price, year of publishing, num pages, copies sold, rating, category, (chapter, number of pages per chapter, number of characters), (publish name, publisher address), location of availability

Create data using faker model if possible or have your own data created for this exercise.

Category : Fiction, nonfiction, scifi, economy, sports, mythology

In [236]:
categories = ['Fiction', 'Non-Fiction', 'Science Fiction', 'Economy', 'Sports', 'Mythology']
authors_10 = []
publishers_10 = []
countries_10 = []
for i in range(10):
    authors_10.append(fake.name())
    publishers_10.append(fake.company())
    countries_10.append(fake.country())
        
print(authors_10)
print(publishers_10)
print(countries_10)

['Melissa Werner', 'Joshua Sullivan', 'Susan Bush', 'Ryan Jones', 'Mr. Jonathan Jones', 'Edward Perez', 'Victor Hill', 'James Miller', 'Juan Contreras', 'Kevin Watson']
['Tyler-Jackson', 'Brown-Strong', 'Haynes LLC', 'Frank-Schroeder', 'Reed PLC', 'Sanchez, Wood and Bass', 'Williams, Williams and Fox', 'Wilson Group', 'Silva, Kane and Benton', 'Ingram Ltd']
['Turkmenistan', 'Moldova', 'Sudan', 'Cayman Islands', 'Guernsey', 'Paraguay', 'Ireland', 'Thailand', 'Hong Kong', 'Croatia']

In [237]:
books = {}
for i in range(100):
    books[i] = {}
    books[i]['book_name'] = fake.sentence(nb_words = 4)
    books[i]['author_name'] = random.choice(authors_10)
    books[i]['price'] = fake.pricetag()
    books[i]['published_year'] = fake.year()
    books[i]['num_pages'] = np.random.randint(60,1500)
    books[i]['copies_sold'] = fake.numerify()
    books[i]['rating (1-5)'] = np.random.randint(1,6)
    books[i]['category'] = random.choice(categories)
    books[i]['chapters'] = np.random.randint(5,30)
    books[i]['publisher_name'] = random.choice(publishers_10)
    books[i]['publisher_address'] = fake.address()   
    books[i]['country_available'] = random.choice(countries_10)
    books[i]['characters'] = np.random.randint(4,20)

print(books)

{0: {'book_name': 'Record increase pretty pay.', 'author_name': 'Ryan Jones', 'price': '$5,191.78', 'published_year': '1991', 'num_pages': 104, 'copies_sold': '234', 'rating (1-5)': 2, 'category': 'Sports', 'chapters': 24, 'publisher_name': 'Frank-Schroeder', 'publisher_address': '066 Amanda Hills\nEspinozatown, MS 09441', 'country_available': 'Turkmenistan', 'characters': 12}, 1: {'book_name': 'Network treatment.', 'author_name': 'Mr. Jonathan Jones', 'price': '$6,674.18', 'published_year': '2020', 'num_pages': 183, 'copies_sold': '145', 'rating (1-5)': 1, 'category': 'Science Fiction', 'chapters': 16, 'publisher_name': 'Haynes LLC', 'publisher_address': '837 Scott Parkway\nEast Andrea, OK 71137', 'country_available': 'Thailand', 'characters': 4}, 2: {'book_name': 'Minute fish toward money fear.', 'author_name': 'Kevin Watson', 'price': '$77.31', 'published_year': '2002', 'num_pages': 1419, 'copies_sold': '119', 'rating (1-5)': 1, 'category': 'Non-Fiction', 'chapters': 20, 'publisher_name': 'Wilson Group', 'publisher_address': '0498 Summer Loop\nLake Leslie, NC 74405', 'country_available': 'Cayman Islands', 'characters': 11}, 3: {'book_name': 'Beat three main need house.', 'author_name': 'Joshua Sullivan', 'price': '$522.36', 'published_year': '2015', 'num_pages': 1039, 'copies_sold': '986', 'rating (1-5)': 4, 'category': 'Mythology', 'chapters': 9, 'publisher_name': 'Haynes LLC', 'publisher_address': 'PSC 9678, Box 9441\nAPO AA 94490', 'country_available': 'Croatia', 'characters': 6}, 4: {'book_name': 'Hard field create show.', 'author_name': 'Juan Contreras', 'price': '$172.35', 'published_year': '1999', 'num_pages': 881, 'copies_sold': '586', 'rating (1-5)': 4, 'category': 'Sports', 'chapters': 15, 'publisher_name': 'Frank-Schroeder', 'publisher_address': '77709 Ann Fields Apt. 726\nCaitlynfort, MI 15123', 'country_available': 'Ireland', 'characters': 9}, 5: {'book_name': 'Put star.', 'author_name': 'Edward Perez', 'price': '$85,090.92', 'published_year': '1991', 'num_pages': 904, 'copies_sold': '273', 'rating (1-5)': 1, 'category': 'Non-Fiction', 'chapters': 13, 'publisher_name': 'Haynes LLC', 'publisher_address': '856 Danielle Orchard Suite 027\nWest Margaretshire, WV 12963', 'country_available': 'Turkmenistan', 'characters': 8}, 6: {'book_name': 'Last believe floor.', 'author_name': 'Edward Perez', 'price': '$27.18', 'published_year': '1995', 'num_pages': 558, 'copies_sold': '137', 'rating (1-5)': 4, 'category': 'Mythology', 'chapters': 26, 'publisher_name': 'Tyler-Jackson', 'publisher_address': '321 Emily Locks\nNorth Allisonville, ID 25402', 'country_available': 'Cayman Islands', 'characters': 12}, 7: {'book_name': 'Ten pay forget without traditional.', 'author_name': 'Mr. Jonathan Jones', 'price': '$379.16', 'published_year': '1971', 'num_pages': 548, 'copies_sold': '882', 'rating (1-5)': 5, 'category': 'Science Fiction', 'chapters': 17, 'publisher_name': 'Williams, Williams and Fox', 'publisher_address': '98865 Brandy Stravenue\nPort Katherineberg, AR 85162', 'country_available': 'Thailand', 'characters': 18}, 8: {'book_name': 'With statement.', 'author_name': 'Mr. Jonathan Jones', 'price': '$13.94', 'published_year': '1994', 'num_pages': 1496, 'copies_sold': '975', 'rating (1-5)': 4, 'category': 'Sports', 'chapters': 8, 'publisher_name': 'Sanchez, Wood and Bass', 'publisher_address': '78348 Christy Streets\nGrantfurt, GA 04232', 'country_available': 'Ireland', 'characters': 19}, 9: {'book_name': 'List now.', 'author_name': 'Ryan Jones', 'price': '$73.84', 'published_year': '1997', 'num_pages': 1194, 'copies_sold': '605', 'rating (1-5)': 4, 'category': 'Sports', 'chapters': 24, 'publisher_name': 'Wilson Group', 'publisher_address': 'Unit 8631 Box 1171\nDPO AE 71152', 'country_available': 'Croatia', 'characters': 4}, 10: {'book_name': 'Military important year.', 'author_name': 'Kevin Watson', 'price': '$282.09', 'published_year': '1972', 'num_pages': 574, 'copies_sold': '333', 'rating (1-5)': 3, 'category': 'Economy', 'chapters': 18, 'publisher_name': 'Reed PLC', 'publisher_address': '15552 Whitney Spring\nSouth Gary, AR 37716', 'country_available': 'Croatia', 'characters': 5}, 11: {'book_name': 'Executive environment door use.', 'author_name': 'Melissa Werner', 'price': '$57,685.39', 'published_year': '1988', 'num_pages': 667, 'copies_sold': '332', 'rating (1-5)': 5, 'category': 'Science Fiction', 'chapters': 17, 'publisher_name': 'Brown-Strong', 'publisher_address': '1686 Michelle Pine\nPaulfurt, NY 39737', 'country_available': 'Thailand', 'characters': 10}, 12: {'book_name': 'Edge start data.', 'author_name': 'Melissa Werner', 'price': '$777.83', 'published_year': '1991', 'num_pages': 916, 'copies_sold': '093', 'rating (1-5)': 3, 'category': 'Economy', 'chapters': 28, 'publisher_name': 'Sanchez, Wood and Bass', 'publisher_address': 'PSC 0552, Box 4093\nAPO AA 90198', 'country_available': 'Thailand', 'characters': 17}, 13: {'book_name': 'Main very create add.', 'author_name': 'Susan Bush', 'price': '$87,791.47', 'published_year': '1988', 'num_pages': 1386, 'copies_sold': '825', 'rating (1-5)': 4, 'category': 'Economy', 'chapters': 15, 'publisher_name': 'Wilson Group', 'publisher_address': '42025 David Row Suite 053\nLake Davidshire, NM 41813', 'country_available': 'Paraguay', 'characters': 14}, 14: {'book_name': 'Image debate us.', 'author_name': 'Edward Perez', 'price': '$6.87', 'published_year': '1983', 'num_pages': 366, 'copies_sold': '218', 'rating (1-5)': 5, 'category': 'Economy', 'chapters': 17, 'publisher_name': 'Silva, Kane and Benton', 'publisher_address': '3891 Johnson Mount Suite 660\nEast Melissa, KS 85286', 'country_available': 'Ireland', 'characters': 10}, 15: {'book_name': 'Level economy final machine.', 'author_name': 'Melissa Werner', 'price': '$62.78', 'published_year': '2013', 'num_pages': 369, 'copies_sold': '253', 'rating (1-5)': 4, 'category': 'Fiction', 'chapters': 27, 'publisher_name': 'Silva, Kane and Benton', 'publisher_address': '066 Bethany Knolls Apt. 381\nPort Heatherberg, DC 59290', 'country_available': 'Turkmenistan', 'characters': 8}, 16: {'book_name': 'Read speak thank fact perform.', 'author_name': 'Melissa Werner', 'price': '$0.57', 'published_year': '1982', 'num_pages': 1126, 'copies_sold': '238', 'rating (1-5)': 1, 'category': 'Sports', 'chapters': 24, 'publisher_name': 'Sanchez, Wood and Bass', 'publisher_address': 'Unit 9930 Box 3238\nDPO AE 21677', 'country_available': 'Sudan', 'characters': 6}, 17: {'book_name': 'Produce ready increase example area.', 'author_name': 'Juan Contreras', 'price': '$45,352.41', 'published_year': '2011', 'num_pages': 718, 'copies_sold': '318', 'rating (1-5)': 5, 'category': 'Mythology', 'chapters': 25, 'publisher_name': 'Tyler-Jackson', 'publisher_address': '31039 White Meadows Apt. 727\nGilbertborough, CO 36924', 'country_available': 'Ireland', 'characters': 18}, 18: {'book_name': 'Will recent doctor laugh suffer.', 'author_name': 'Ryan Jones', 'price': '$1.81', 'published_year': '1987', 'num_pages': 258, 'copies_sold': '889', 'rating (1-5)': 4, 'category': 'Science Fiction', 'chapters': 27, 'publisher_name': 'Williams, Williams and Fox', 'publisher_address': '256 Christy Squares\nEast Lindseytown, UT 53876', 'country_available': 'Moldova', 'characters': 5}, 19: {'book_name': 'Maintain event particular Democrat.', 'author_name': 'Ryan Jones', 'price': '$6,737.36', 'published_year': '2010', 'num_pages': 1478, 'copies_sold': '803', 'rating (1-5)': 3, 'category': 'Economy', 'chapters': 18, 'publisher_name': 'Tyler-Jackson', 'publisher_address': '450 Alisha Rapids Suite 418\nWest Sarahberg, ND 11444', 'country_available': 'Hong Kong', 'characters': 5}, 20: {'book_name': 'Answer teacher unit everything author.', 'author_name': 'Kevin Watson', 'price': '$16.26', 'published_year': '1974', 'num_pages': 871, 'copies_sold': '310', 'rating (1-5)': 1, 'category': 'Sports', 'chapters': 26, 'publisher_name': 'Reed PLC', 'publisher_address': '74450 Greene Crescent\nNorth Frankview, MD 56155', 'country_available': 'Cayman Islands', 'characters': 7}, 21: {'book_name': 'Subject treat maybe father.', 'author_name': 'Mr. Jonathan Jones', 'price': '$537.53', 'published_year': '2011', 'num_pages': 1413, 'copies_sold': '949', 'rating (1-5)': 2, 'category': 'Sports', 'chapters': 22, 'publisher_name': 'Brown-Strong', 'publisher_address': '29468 Jennifer Shoal\nNew Christianmouth, HI 58159', 'country_available': 'Cayman Islands', 'characters': 11}, 22: {'book_name': 'Fly strategy down now light.', 'author_name': 'Edward Perez', 'price': '$11.73', 'published_year': '1979', 'num_pages': 349, 'copies_sold': '445', 'rating (1-5)': 5, 'category': 'Non-Fiction', 'chapters': 6, 'publisher_name': 'Frank-Schroeder', 'publisher_address': '3549 Michael Parks\nWest Charlesfurt, NM 05654', 'country_available': 'Cayman Islands', 'characters': 7}, 23: {'book_name': 'Special civil else commercial modern.', 'author_name': 'Kevin Watson', 'price': '$482.22', 'published_year': '2005', 'num_pages': 777, 'copies_sold': '578', 'rating (1-5)': 5, 'category': 'Economy', 'chapters': 15, 'publisher_name': 'Sanchez, Wood and Bass', 'publisher_address': '63930 James Fields\nLawrencechester, AK 56429', 'country_available': 'Cayman Islands', 'characters': 10}, 24: {'book_name': 'Attention cold anything.', 'author_name': 'Edward Perez', 'price': '$94,166.00', 'published_year': '1983', 'num_pages': 714, 'copies_sold': '147', 'rating (1-5)': 3, 'category': 'Science Fiction', 'chapters': 6, 'publisher_name': 'Wilson Group', 'publisher_address': '52344 Amanda Cove Apt. 959\nSouth Michelefurt, FL 45276', 'country_available': 'Moldova', 'characters': 13}, 25: {'book_name': 'Resource one sea point.', 'author_name': 'Ryan Jones', 'price': '$23,922.79', 'published_year': '2015', 'num_pages': 447, 'copies_sold': '580', 'rating (1-5)': 4, 'category': 'Non-Fiction', 'chapters': 27, 'publisher_name': 'Williams, Williams and Fox', 'publisher_address': '4364 Brian Extension\nEvanshire, MT 38236', 'country_available': 'Sudan', 'characters': 11}, 26: {'book_name': 'Place town available.', 'author_name': 'James Miller', 'price': '$1,287.96', 'published_year': '1975', 'num_pages': 1211, 'copies_sold': '037', 'rating (1-5)': 3, 'category': 'Non-Fiction', 'chapters': 12, 'publisher_name': 'Haynes LLC', 'publisher_address': '60015 Williams Island Apt. 789\nPattersonview, OK 93159', 'country_available': 'Sudan', 'characters': 19}, 27: {'book_name': 'Arrive sometimes worker.', 'author_name': 'Kevin Watson', 'price': '$9.92', 'published_year': '1997', 'num_pages': 1012, 'copies_sold': '216', 'rating (1-5)': 3, 'category': 'Mythology', 'chapters': 20, 'publisher_name': 'Haynes LLC', 'publisher_address': '830 Pamela Street Suite 882\nPriscillachester, GA 09411', 'country_available': 'Sudan', 'characters': 17}, 28: {'book_name': 'High population.', 'author_name': 'Susan Bush', 'price': '$4.75', 'published_year': '1972', 'num_pages': 1481, 'copies_sold': '048', 'rating (1-5)': 1, 'category': 'Fiction', 'chapters': 21, 'publisher_name': 'Williams, Williams and Fox', 'publisher_address': '31188 Melissa Valley\nNew Ronald, HI 60384', 'country_available': 'Paraguay', 'characters': 14}, 29: {'book_name': 'Something room ground industry kid.', 'author_name': 'Joshua Sullivan', 'price': '$57.13', 'published_year': '2010', 'num_pages': 911, 'copies_sold': '331', 'rating (1-5)': 3, 'category': 'Science Fiction', 'chapters': 16, 'publisher_name': 'Williams, Williams and Fox', 'publisher_address': '38437 Lucas Wall Apt. 905\nLake Melanie, CA 37029', 'country_available': 'Cayman Islands', 'characters': 13}, 30: {'book_name': 'Development agent cost.', 'author_name': 'Ryan Jones', 'price': '$2.95', 'published_year': '1999', 'num_pages': 1091, 'copies_sold': '687', 'rating (1-5)': 1, 'category': 'Fiction', 'chapters': 13, 'publisher_name': 'Tyler-Jackson', 'publisher_address': '90290 Ryan Greens Suite 076\nSouth Alfredberg, SD 36409', 'country_available': 'Ireland', 'characters': 14}, 31: {'book_name': 'Everything would project school Mr.', 'author_name': 'Susan Bush', 'price': '$3.25', 'published_year': '2014', 'num_pages': 618, 'copies_sold': '173', 'rating (1-5)': 2, 'category': 'Mythology', 'chapters': 19, 'publisher_name': 'Reed PLC', 'publisher_address': '3735 Tony Harbor\nPort Sarah, NJ 71723', 'country_available': 'Thailand', 'characters': 19}, 32: {'book_name': 'Road possible stuff less.', 'author_name': 'Juan Contreras', 'price': '$434.93', 'published_year': '2008', 'num_pages': 1214, 'copies_sold': '418', 'rating (1-5)': 2, 'category': 'Fiction', 'chapters': 15, 'publisher_name': 'Wilson Group', 'publisher_address': '91994 Michael Centers Apt. 120\nMendozaburgh, DC 05294', 'country_available': 'Cayman Islands', 'characters': 19}, 33: {'book_name': 'Base industry behavior across.', 'author_name': 'Juan Contreras', 'price': '$85.04', 'published_year': '2014', 'num_pages': 306, 'copies_sold': '989', 'rating (1-5)': 2, 'category': 'Mythology', 'chapters': 19, 'publisher_name': 'Silva, Kane and Benton', 'publisher_address': '640 Maynard Ridges\nLake Kristishire, PA 89865', 'country_available': 'Sudan', 'characters': 4}, 34: {'book_name': 'Eight fact.', 'author_name': 'Susan Bush', 'price': '$60.44', 'published_year': '2006', 'num_pages': 264, 'copies_sold': '652', 'rating (1-5)': 1, 'category': 'Economy', 'chapters': 18, 'publisher_name': 'Frank-Schroeder', 'publisher_address': '2818 Alexander Harbor\nLake Bryan, AZ 20479', 'country_available': 'Guernsey', 'characters': 18}, 35: {'book_name': 'Through receive seven community.', 'author_name': 'Mr. Jonathan Jones', 'price': '$74,897.55', 'published_year': '1999', 'num_pages': 1454, 'copies_sold': '273', 'rating (1-5)': 1, 'category': 'Economy', 'chapters': 15, 'publisher_name': 'Frank-Schroeder', 'publisher_address': '1252 Banks Extension\nNorth Catherine, IL 96086', 'country_available': 'Thailand', 'characters': 17}, 36: {'book_name': 'Garden blood nor.', 'author_name': 'Victor Hill', 'price': '$8.19', 'published_year': '2016', 'num_pages': 103, 'copies_sold': '017', 'rating (1-5)': 2, 'category': 'Fiction', 'chapters': 12, 'publisher_name': 'Frank-Schroeder', 'publisher_address': '4385 Andrew Corners Apt. 387\nLake Nicole, NE 53361', 'country_available': 'Paraguay', 'characters': 16}, 37: {'book_name': 'Maybe PM every sort paper.', 'author_name': 'James Miller', 'price': '$94.93', 'published_year': '1996', 'num_pages': 242, 'copies_sold': '992', 'rating (1-5)': 1, 'category': 'Science Fiction', 'chapters': 20, 'publisher_name': 'Brown-Strong', 'publisher_address': '625 Wright Light Apt. 303\nJohnsonshire, AZ 52795', 'country_available': 'Croatia', 'characters': 18}, 38: {'book_name': 'Interesting story might subject.', 'author_name': 'Melissa Werner', 'price': '$9,128.03', 'published_year': '2009', 'num_pages': 1056, 'copies_sold': '510', 'rating (1-5)': 2, 'category': 'Science Fiction', 'chapters': 15, 'publisher_name': 'Wilson Group', 'publisher_address': '745 Cox Roads\nJeremyfort, UT 53085', 'country_available': 'Cayman Islands', 'characters': 19}, 39: {'book_name': 'Card large accept rule medical.', 'author_name': 'Juan Contreras', 'price': '$2,973.94', 'published_year': '1978', 'num_pages': 1262, 'copies_sold': '369', 'rating (1-5)': 4, 'category': 'Mythology', 'chapters': 17, 'publisher_name': 'Sanchez, Wood and Bass', 'publisher_address': '699 Price Lodge Suite 303\nNorth Taylor, DE 77245', 'country_available': 'Hong Kong', 'characters': 15}, 40: {'book_name': 'Air establish structure.', 'author_name': 'Melissa Werner', 'price': '$560.39', 'published_year': '1984', 'num_pages': 756, 'copies_sold': '915', 'rating (1-5)': 4, 'category': 'Sports', 'chapters': 24, 'publisher_name': 'Tyler-Jackson', 'publisher_address': '41569 Andrew Ports Suite 255\nOrozcoport, GA 58347', 'country_available': 'Croatia', 'characters': 10}, 41: {'book_name': 'Bed easy.', 'author_name': 'Victor Hill', 'price': '$3,511.74', 'published_year': '1997', 'num_pages': 79, 'copies_sold': '142', 'rating (1-5)': 3, 'category': 'Sports', 'chapters': 21, 'publisher_name': 'Sanchez, Wood and Bass', 'publisher_address': '3637 Michelle Gardens Suite 329\nWest Gloria, CA 64445', 'country_available': 'Moldova', 'characters': 6}, 42: {'book_name': 'Ability building business half whether.', 'author_name': 'Kevin Watson', 'price': '$24.55', 'published_year': '1983', 'num_pages': 1154, 'copies_sold': '114', 'rating (1-5)': 2, 'category': 'Sports', 'chapters': 5, 'publisher_name': 'Reed PLC', 'publisher_address': '93786 Stacy Rest Suite 789\nSouth Micheleburgh, UT 98175', 'country_available': 'Thailand', 'characters': 12}, 43: {'book_name': 'Second something even opportunity.', 'author_name': 'Susan Bush', 'price': '$5,227.43', 'published_year': '1991', 'num_pages': 127, 'copies_sold': '287', 'rating (1-5)': 4, 'category': 'Mythology', 'chapters': 25, 'publisher_name': 'Ingram Ltd', 'publisher_address': '1834 Thompson Isle\nPort Ronaldmouth, MI 08435', 'country_available': 'Sudan', 'characters': 9}, 44: {'book_name': 'Group cold.', 'author_name': 'Mr. Jonathan Jones', 'price': '$583.80', 'published_year': '2012', 'num_pages': 723, 'copies_sold': '505', 'rating (1-5)': 5, 'category': 'Fiction', 'chapters': 9, 'publisher_name': 'Brown-Strong', 'publisher_address': '79829 Adam Mission Suite 568\nNorth Kenneth, TN 12432', 'country_available': 'Cayman Islands', 'characters': 11}, 45: {'book_name': 'Dream clearly learn lawyer.', 'author_name': 'Juan Contreras', 'price': '$618.94', 'published_year': '2005', 'num_pages': 1070, 'copies_sold': '336', 'rating (1-5)': 1, 'category': 'Science Fiction', 'chapters': 11, 'publisher_name': 'Reed PLC', 'publisher_address': '3148 Small Knoll Suite 582\nNathanland, MS 38678', 'country_available': 'Cayman Islands', 'characters': 5}, 46: {'book_name': 'Best success look.', 'author_name': 'Susan Bush', 'price': '$68,145.20', 'published_year': '2005', 'num_pages': 1355, 'copies_sold': '485', 'rating (1-5)': 2, 'category': 'Fiction', 'chapters': 8, 'publisher_name': 'Brown-Strong', 'publisher_address': '370 Seth Courts\nEast Juliemouth, HI 08854', 'country_available': 'Croatia', 'characters': 7}, 47: {'book_name': 'Debate spend plan.', 'author_name': 'Melissa Werner', 'price': '$4,305.11', 'published_year': '1984', 'num_pages': 595, 'copies_sold': '721', 'rating (1-5)': 2, 'category': 'Sports', 'chapters': 7, 'publisher_name': 'Wilson Group', 'publisher_address': '483 David Plaza\nNew Scotttown, MS 33583', 'country_available': 'Ireland', 'characters': 14}, 48: {'book_name': 'Nice style.', 'author_name': 'Kevin Watson', 'price': '$7,877.26', 'published_year': '1985', 'num_pages': 697, 'copies_sold': '364', 'rating (1-5)': 5, 'category': 'Non-Fiction', 'chapters': 23, 'publisher_name': 'Haynes LLC', 'publisher_address': '750 Jean Court Apt. 745\nPort Jonathantown, AZ 96981', 'country_available': 'Sudan', 'characters': 10}, 49: {'book_name': 'Call market old.', 'author_name': 'James Miller', 'price': '$6.39', 'published_year': '1991', 'num_pages': 333, 'copies_sold': '485', 'rating (1-5)': 4, 'category': 'Economy', 'chapters': 7, 'publisher_name': 'Reed PLC', 'publisher_address': '3547 Curtis Ports Suite 784\nNorth Rachelmouth, MN 84707', 'country_available': 'Ireland', 'characters': 15}, 50: {'book_name': 'Quality executive across buy candidate.', 'author_name': 'Edward Perez', 'price': '$58,377.94', 'published_year': '2005', 'num_pages': 647, 'copies_sold': '610', 'rating (1-5)': 2, 'category': 'Science Fiction', 'chapters': 19, 'publisher_name': 'Wilson Group', 'publisher_address': '351 Sanchez Mills Suite 642\nJohnsonview, HI 09678', 'country_available': 'Hong Kong', 'characters': 8}, 51: {'book_name': 'Condition arm.', 'author_name': 'Victor Hill', 'price': '$148.75', 'published_year': '2019', 'num_pages': 433, 'copies_sold': '355', 'rating (1-5)': 2, 'category': 'Sports', 'chapters': 29, 'publisher_name': 'Frank-Schroeder', 'publisher_address': '928 Christine Coves Suite 602\nKathl

#### 1. Get number of boks published by each auhor in each year and nuber of copies sold

In [238]:
from collections import Counter
authors = [] 
for book_no, details in books.items():
    for agenda,detail in details.items():
        authors.append(books[book_no]['author_name'])

for author in set(authors):
    copies = 0
    written = 0
    years = []
    for book_no,details in books.items():
        if books[book_no]['author_name'] == author:
            copies += int(books[book_no]['copies_sold'])
            written += 1
            years.append(books[book_no]['published_year'])
    print("Total books written by: ", author, "is", written, "\nTotal copies sold by : ", author, "is", copies)
    print(Counter(years))
    print()

Total books written by:  Ryan Jones is 12
Total copies sold by :  Ryan Jones is 6772
Counter({'1991': 1, '1997': 1, '1987': 1, '2010': 1, '2015': 1, '1999': 1, '2017': 1, '1984': 1, '1982': 1, '2000': 1, '1995': 1, '1998': 1})

Total books written by:  Susan Bush is 13
Total copies sold by :  Susan Bush is 5877
Counter({'2006': 2, '2019': 2, '1988': 1, '1972': 1, '2014': 1, '1991': 1, '2005': 1, '2002': 1, '2018': 1, '1997': 1, '1980': 1})

Total books written by:  Juan Contreras is 7
Total copies sold by :  Juan Contreras is 3787
Counter({'1999': 1, '2011': 1, '2008': 1, '2014': 1, '1978': 1, '2005': 1, '1971': 1})

Total books written by:  Melissa Werner is 12
Total copies sold by :  Melissa Werner is 5264
Counter({'1984': 2, '1988': 1, '1991': 1, '2013': 1, '1982': 1, '2009': 1, '1981': 1, '2018': 1, '1985': 1, '1999': 1, '1987': 1})

Total books written by:  James Miller is 5
Total copies sold by :  James Miller is 2426
Counter({'1975': 1, '1996': 1, '1991': 1, '1979': 1, '1973': 1})

Total books written by:  Kevin Watson is 12
Total copies sold by :  Kevin Watson is 4755
Counter({'1997': 2, '2002': 1, '1972': 1, '1974': 1, '2005': 1, '1983': 1, '1985': 1, '1977': 1, '1991': 1, '1978': 1, '1973': 1})

Total books written by:  Edward Perez is 14
Total copies sold by :  Edward Perez is 6289
Counter({'1983': 4, '1991': 1, '1995': 1, '1979': 1, '2005': 1, '2018': 1, '1981': 1, '1994': 1, '2009': 1, '1990': 1, '2002': 1})

Total books written by:  Victor Hill is 6
Total copies sold by :  Victor Hill is 2239
Counter({'2016': 1, '1997': 1, '2019': 1, '1994': 1, '2015': 1, '2009': 1})

Total books written by:  Mr. Jonathan Jones is 12
Total copies sold by :  Mr. Jonathan Jones is 6197
Counter({'2013': 2, '1977': 2, '2020': 1, '1971': 1, '1994': 1, '2011': 1, '1999': 1, '2012': 1, '1970': 1, '1981': 1})

Total books written by:  Joshua Sullivan is 7
Total copies sold by :  Joshua Sullivan is 4032
Counter({'2015': 1, '2010': 1, '1976': 1, '2004': 1, '1970': 1, '2016': 1, '2017': 1})

#### 2. Get total payment received by each author per book and total amount of money he earned at the end

In [239]:
from collections import Counter
authors = [] 
for book_no, details in books.items():
    for agenda,detail in details.items():
        authors.append(books[book_no]['author_name'])

for author in set(authors):
    revenue = 0
    for book_no,details in books.items():
        if books[book_no]['author_name'] == author:
            books[book_no]['price'] = books[book_no]['price'].replace("$",'')
            books[book_no]['price'] = books[book_no]['price'].replace(",",'')
            revenue += float(books[book_no]['price'])
    print("The total payment recieved by author", author, "is: ", round(revenue,3))

The total payment recieved by author Ryan Jones is:  50186.96
The total payment recieved by author Susan Bush is:  330709.21
The total payment recieved by author Juan Contreras is:  55899.68
The total payment recieved by author Melissa Werner is:  161037.03
The total payment recieved by author James Miller is:  2104.7
The total payment recieved by author Kevin Watson is:  107283.6
The total payment recieved by author Edward Perez is:  385673.91
The total payment recieved by author Victor Hill is:  56986.85
The total payment recieved by author Mr. Jonathan Jones is:  99767.1
The total payment recieved by author Joshua Sullivan is:  4042.03

#### 3. Get the location where maximum boks are available

In [240]:
countries = [] 
for book_no, details in books.items():
    for agenda,detail in details.items():
        countries.append(books[book_no]['country_available'])

max_books = []
maxi= -99999
country_max = ''
for country in set(countries):
    
    count = 0
    for book_no,details in books.items():
        if books[book_no]['country_available'] == country:
            count += 1
    print("Books available: ",count,"in",country)
    if maxi < count:
        maxi = count
        country_max = country
print("\nThe maximum ",maxi,"books are available in", country_max)

Books available:  9 in Paraguay
Books available:  13 in Cayman Islands
Books available:  14 in Croatia
Books available:  14 in Ireland
Books available:  11 in Moldova
Books available:  4 in Guernsey
Books available:  11 in Sudan
Books available:  13 in Thailand
Books available:  5 in Hong Kong
Books available:  6 in Turkmenistan

The maximum  14 books are available in Croatia

#### 4. Get name of the publishe who have published max number of books

In [242]:
publishers = [] 
for book_no, details in books.items():
    for agenda,detail in details.items():
        publishers.append(books[book_no]['publisher_name'])
        
publisher_max = ''
maxi= -99999        
for publisher in set(publishers):
    books_published = 0
    for book_no,details in books.items():
        if books[book_no]['publisher_name'] == publisher:
            books_published += 1
    print("The publisher: ", publisher, "has published", books_published, "books")
    if maxi < books_published:
        maxi = books_published
        publisher_max = publisher
print("\nThe publisher: ", publisher_max,"has published maximum book. Those are: ", maxi,"books")

The publisher:  Silva, Kane and Benton has published 6 books
The publisher:  Frank-Schroeder has published 12 books
The publisher:  Haynes LLC has published 15 books
The publisher:  Sanchez, Wood and Bass has published 10 books
The publisher:  Brown-Strong has published 8 books
The publisher:  Williams, Williams and Fox has published 9 books
The publisher:  Ingram Ltd has published 6 books
The publisher:  Wilson Group has published 13 books
The publisher:  Tyler-Jackson has published 8 books
The publisher:  Reed PLC has published 13 books

The publisher:  Haynes LLC has published maximum book. Those are:  15 books

#### 5. Get name of the author who has developed maximum characters

In [243]:
authors = [] 
for book_no, details in books.items():
    for agenda,detail in details.items():
        authors.append(books[book_no]['author_name'])

maxi = -9999
max_char_author = ''
for author in set(authors):
    character_count = 0
    for book_no,details in books.items():
        if books[book_no]['author_name'] == author:
            character_count += int(books[book_no]['characters'])
    print("The characters developed by author", author, "are: ", character_count)
    if maxi < character_count:
        maxi = character_count
        max_char_author = author
        
print("The maximum characters developed by author", max_char_author, "are: ", maxi)

The characters developed by author Ryan Jones are:  105
The characters developed by author Susan Bush are:  172
The characters developed by author Juan Contreras are:  85
The characters developed by author Melissa Werner are:  132
The characters developed by author James Miller are:  65
The characters developed by author Kevin Watson are:  138
The characters developed by author Edward Perez are:  147
The characters developed by author Victor Hill are:  70
The characters developed by author Mr. Jonathan Jones are:  133
The characters developed by author Joshua Sullivan are:  52
The maximum characters developed by author Susan Bush are:  172

#### 6. Get the name of best book considering the copies sold and rating, Get the best book from each catrgory.

In [245]:
catags = [] 
for book_no, details in books.items():
    for agenda,detail in details.items():
        catags.append(books[book_no]['category'])

for catag in set(catags): 
    maxi = -9999
    max_catag = ''
    count = 0
    for book_no,details in books.items():
        if books[book_no]['category'] == catag:
            if books[book_no]['rating (1-5)'] == 5:
                count = int(books[book_no]['copies_sold'])
                name = books[book_no]['book_name']
    if maxi < count:
        maxi = count
        rating = books[book_no]['rating (1-5)']
        max_catag = catag
    print("\nThe book", name, "of category", max_catag,"having rating",rating,"\nand number of copies sold",maxi,"is best book of this category")

The book Produce ready increase example area. of category Mythology having rating 2
and number of copies sold 318 is best book of this category

The book Stock two available party. of category Sports having rating 2
and number of copies sold 483 is best book of this category

The book Born almost money effort. of category Fiction having rating 2
and number of copies sold 672 is best book of this category

The book Nice style. of category Non-Fiction having rating 2
and number of copies sold 364 is best book of this category

The book Lose seek person television. of category Economy having rating 2
and number of copies sold 850 is best book of this category

The book Often again happen pick far. of category Science Fiction having rating 2
and number of copies sold 465 is best book of this category

#### 7. Sort the dict by author name and year of publishing

In [246]:
result = sorted(books.items(), key=lambda x:(x[1]['author_name'],x[1]['published_year']))
print(result)

[(22, {'book_name': 'Fly strategy down now light.', 'author_name': 'Edward Perez', 'price': '11.73', 'published_year': '1979', 'num_pages': 349, 'copies_sold': '445', 'rating (1-5)': 5, 'category': 'Non-Fiction', 'chapters': 6, 'publisher_name': 'Frank-Schroeder', 'publisher_address': '3549 Michael Parks\nWest Charlesfurt, NM 05654', 'country_available': 'Cayman Islands', 'characters': 7}), (58, {'book_name': 'Camera traditional drug.', 'author_name': 'Edward Perez', 'price': '2072.93', 'published_year': '1981', 'num_pages': 844, 'copies_sold': '123', 'rating (1-5)': 4, 'category': 'Fiction', 'chapters': 18, 'publisher_name': 'Silva, Kane and Benton', 'publisher_address': '6156 Gonzalez Lock Suite 786\nSouth Matthew, TX 10581', 'country_available': 'Croatia', 'characters': 10}), (14, {'book_name': 'Image debate us.', 'author_name': 'Edward Perez', 'price': '6.87', 'published_year': '1983', 'num_pages': 366, 'copies_sold': '218', 'rating (1-5)': 5, 'category': 'Economy', 'chapters': 17, 'publisher_name': 'Silva, Kane and Benton', 'publisher_address': '3891 Johnson Mount Suite 660\nEast Melissa, KS 85286', 'country_available': 'Ireland', 'characters': 10}), (24, {'book_name': 'Attention cold anything.', 'author_name': 'Edward Perez', 'price': '94166.00', 'published_year': '1983', 'num_pages': 714, 'copies_sold': '147', 'rating (1-5)': 3, 'category': 'Science Fiction', 'chapters': 6, 'publisher_name': 'Wilson Group', 'publisher_address': '52344 Amanda Cove Apt. 959\nSouth Michelefurt, FL 45276', 'country_available': 'Moldova', 'characters': 13}), (56, {'book_name': 'Common recent teach.', 'author_name': 'Edward Perez', 'price': '79.35', 'published_year': '1983', 'num_pages': 740, 'copies_sold': '776', 'rating (1-5)': 5, 'category': 'Economy', 'chapters': 11, 'publisher_name': 'Reed PLC', 'publisher_address': '479 Patricia Knoll\nNorth Thomas, KS 36376', 'country_available': 'Turkmenistan', 'characters': 5}), (75, {'book_name': 'Understand remain.', 'author_name': 'Edward Perez', 'price': '9.93', 'published_year': '1983', 'num_pages': 527, 'copies_sold': '363', 'rating (1-5)': 1, 'category': 'Science Fiction', 'chapters': 15, 'publisher_name': 'Haynes LLC', 'publisher_address': '835 Benjamin Oval\nSmithland, VT 30353', 'country_available': 'Thailand', 'characters': 4}), (91, {'book_name': 'Clear physical realize.', 'author_name': 'Edward Perez', 'price': '7261.93', 'published_year': '1990', 'num_pages': 148, 'copies_sold': '626', 'rating (1-5)': 4, 'category': 'Fiction', 'chapters': 14, 'publisher_name': 'Haynes LLC', 'publisher_address': '7514 Alejandro Place Suite 675\nCastilloville, MD 09114', 'country_available': 'Ireland', 'characters': 18}), (5, {'book_name': 'Put star.', 'author_name': 'Edward Perez', 'price': '85090.92', 'published_year': '1991', 'num_pages': 904, 'copies_sold': '273', 'rating (1-5)': 1, 'category': 'Non-Fiction', 'chapters': 13, 'publisher_name': 'Haynes LLC', 'publisher_address': '856 Danielle Orchard Suite 027\nWest Margaretshire, WV 12963', 'country_available': 'Turkmenistan', 'characters': 8}), (62, {'book_name': 'Require watch push outside.', 'author_name': 'Edward Perez', 'price': '99.83', 'published_year': '1994', 'num_pages': 110, 'copies_sold': '468', 'rating (1-5)': 1, 'category': 'Fiction', 'chapters': 10, 'publisher_name': 'Haynes LLC', 'publisher_address': '728 Jasmine Canyon\nPhillipsside, NC 23473', 'country_available': 'Hong Kong', 'characters': 17}), (6, {'book_name': 'Last believe floor.', 'author_name': 'Edward Perez', 'price': '27.18', 'published_year': '1995', 'num_pages': 558, 'copies_sold': '137', 'rating (1-5)': 4, 'category': 'Mythology', 'chapters': 26, 'publisher_name': 'Tyler-Jackson', 'publisher_address': '321 Emily Locks\nNorth Allisonville, ID 25402', 'country_available': 'Cayman Islands', 'characters': 12}), (92, {'book_name': 'Lose seek person television.', 'author_name': 'Edward Perez', 'price': '83666.22', 'published_year': '2002', 'num_pages': 264, 'copies_sold': '850', 'rating (1-5)': 5, 'category': 'Economy', 'chapters': 16, 'publisher_name': 'Tyler-Jackson', 'publisher_address': 'Unit 9883 Box 8292\nDPO AE 61549', 'country_available': 'Sudan', 'characters': 11}), (50, {'book_name': 'Quality executive across buy candidate.', 'author_name': 'Edward Perez', 'price': '58377.94', 'published_year': '2005', 'num_pages': 647, 'copies_sold': '610', 'rating (1-5)': 2, 'category': 'Science Fiction', 'chapters': 19, 'publisher_name': 'Wilson Group', 'publisher_address': '351 Sanchez Mills Suite 642\nJohnsonview, HI 09678', 'country_available': 'Hong Kong', 'characters': 8}), (64, {'book_name': 'Data beautiful support.', 'author_name': 'Edward Perez', 'price': '54799.74', 'published_year': '2009', 'num_pages': 84, 'copies_sold': '770', 'rating (1-5)': 2, 'category': 'Science Fiction', 'chapters': 22, 'publisher_name': 'Ingram Ltd', 'publisher_address': '67251 Joseph Curve\nKristytown, NV 45354', 'country_available': 'Croatia', 'characters': 18}), (54, {'book_name': 'Stock two available party.', 'author_name': 'Edward Perez', 'price': '3.34', 'published_year': '2018', 'num_pages': 550, 'copies_sold': '483', 'rating (1-5)': 5, 'category': 'Sports', 'chapters': 17, 'publisher_name': 'Williams, Williams and Fox', 'publisher_address': '66480 Noble Cliff\nEmilyville, DE 64681', 'country_available': 'Moldova', 'characters': 6}), (89, {'book_name': 'Air in heavy.', 'author_name': 'James Miller', 'price': '670.63', 'published_year': '1973', 'num_pages': 444, 'copies_sold': '406', 'rating (1-5)': 4, 'category': 'Science Fiction', 'chapters': 15, 'publisher_name': 'Tyler-Jackson', 'publisher_address': '81452 Joseph Stravenue\nSouth Hollyview, WV 78933', 'country_available': 'Moldova', 'characters': 8}), (26, {'book_name': 'Place town available.', 'author_name': 'James Miller', 'price': '1287.96', 'published_year': '1975', 'num_pages': 1211, 'copies_sold': '037', 'rating (1-5)': 3, 'category': 'Non-Fiction', 'chapters': 12, 'publisher_name': 'Haynes LLC', 'publisher_address': '60015 Williams Island Apt. 789\nPattersonview, OK 93159', 'country_available': 'Sudan', 'characters': 19}), (66, {'book_name': 'Reality decide she nature.', 'author_name': 'James Miller', 'price': '44.79', 'published_year': '1979', 'num_pages': 245, 'copies_sold': '506', 'rating (1-5)': 2, 'category': 'Sports', 'chapters': 13, 'publisher_name': 'Reed PLC', 'publisher_address': '522 Herbert Islands\nWest Rachelland, NE 34701', 'country_available': 'Ireland', 'characters': 5}), (49, {'book_name': 'Call market old.', 'author_name': 'James Miller', 'price': '6.39', 'published_year': '1991', 'num_pages': 333, 'copies_sold': '485', 'rating (1-5)': 4, 'category': 'Economy', 'chapters': 7, 'publisher_name': 'Reed PLC', 'publisher_address': '3547 Curtis Ports Suite 784\nNorth Rachelmouth, MN 84707', 'country_available': 'Ireland', 'characters': 15}), (37, {'book_name': 'Maybe PM every sort paper.', 'author_name': 'James Miller', 'price': '94.93', 'published_year': '1996', 'num_pages': 242, 'copies_sold': '992', 'rating (1-5)': 1, 'category': 'Science Fiction', 'chapters': 20, 'publisher_name': 'Brown-Strong', 'publisher_address': '625 Wright Light Apt. 303\nJohnsonshire, AZ 52795', 'country_available': 'Croatia', 'characters': 18}), (86, {'book_name': 'Form world account mission.', 'author_name': 'Joshua Sullivan', 'price': '40.89', 'published_year': '1970', 'num_pages': 176, 'copies_sold': '737', 'rating (1-5)': 2, 'category': 'Non-Fiction', 'chapters': 20, 'publisher_name': 'Sanchez, Wood and Bass', 'publisher_address': '47916 Brown Trail Suite 688\nNorth Joseph, RI 57488', 'country_available': 'Ireland', 'characters': 7}), (76, {'book_name': 'Born almost money effort.', 'author_name': 'Joshua Sullivan', 'price': '274.68', 'published_year': '1976', 'num_pages': 799, 'copies_sold': '672', 'rating (1-5)': 5, 'category': 'Fiction', 'chapters': 6, 'publisher_name': 'Ingram Ltd', 'publisher_address': '545 Zuniga Plains Suite 412\nDawnburgh, WY 08992', 'country_available': 'Croatia', 'characters': 6}), (78, {'book_name': 'Pm necessary by.', 'author_name': 'Joshua Sullivan', 'price': '6.18', 'published_year': '2004', 'num_pages': 1288, 'copies_sold': '362', 'rating (1-5)': 3, 'category': 'Mythology', 'chapters': 26, 'publisher_name': 'Williams, Williams and Fox', 'publisher_address': '0717 Landry Junction\nScottside, NE 83893', 'country_available': 'Sudan', 'characters': 8}), (29, {'book_name': 'Something room ground industry kid.', 'author_name': 'Joshua Sullivan', 'price': '57.13', 'published_year': '2010', 'num_pages': 911, 'copies_sold': '331', 'rating (1-5)': 3, 'category': 'Science Fiction', 'chapters': 16, 'publisher_name': 'Williams, Williams and Fox', 'publisher_address': '38437 Lucas Wall Apt. 905\nLake Melanie, CA 37029', 'country_available': 'Cayman Islands', 'characters': 13}), (3, {'book_name': 'Beat three main need house.', 'author_name': 'Joshua Sullivan', 'price': '522.36', 'published_year': '2015', 'num_pages': 1039, 'copies_sold': '986', 'rating (1-5)': 4, 'category': 'Mythology', 'chapters': 9, 'publisher_name': 'Haynes LLC', 'publisher_address': 'PSC 9678, Box 9441\nAPO AA 94490', 'country_available': 'Croatia', 'characters': 6}), (88, {'book_name': 'Establish themselves anyone speak.', 'author_name': 'Joshua Sullivan', 'price': '2876.02', 'published_year': '2016', 'num_pages': 865, 'copies_sold': '223', 'rating (1-5)': 3, 'category': 'Sports', 'chapters': 25, 'publisher_name': 'Haynes LLC', 'publisher_address': 'USCGC Patterson\nFPO AP 11986', 'country_available': 'Moldova', 'characters': 4}), (90, {'book_name': 'East maybe.', 'author_name': 'Joshua Sullivan', 'price': '264.77', 'published_year': '2017', 'num_pages': 1152, 'copies_sold': '721', 'rating (1-5)': 3, 'category': 'Fiction', 'chapters': 26, 'publisher_name': 'Silva, Kane and Benton', 'publisher_address': '006 Matthew Lodge\nEast Jennifer, WA 20345', 'country_available': 'Croatia', 'characters': 8}), (68, {'book_name': 'Word move there.', 'author_name': 'Juan Contreras', 'price': '6262.07', 'published_year': '1971', 'num_pages': 1422, 'copies_sold': '771', 'rating (1-5)': 2, 'category': 'Non-Fiction', 'chapters': 17, 'publisher_name': 'Reed PLC', 'publisher_address': '720 Ramos Spring\nLaurabury, ND 97211', 'country_available': 'Turkmenistan', 'characters': 15}), (39, {'book_name': 'Card large accept rule medical.', 'author_name': 'Juan Contreras', 'price': '2973.94', 'published_year': '1978', 'num_pages': 1262, 'copies_sold': '369', 'rating (1-5)': 4, 'category': 'Mythology', 'chapters': 17, 'publisher_name': 'Sanchez, Wood and Bass', 'publisher_address': '699 Price Lodge Suite 303\nNorth Taylor, DE 77245', 'country_available': 'Hong Kong', 'characters': 15}), (4, {'book_name': 'Hard field create show.', 'author_name': 'Juan Contreras', 'price': '172.35', 'published_year': '1999', 'num_pages': 881, 'copies_sold': '586', 'rating (1-5)': 4, 'category': 'Sports', 'chapters': 15, 'publisher_name': 'Frank-Schroeder', 'publisher_address': '77709 Ann Fields Apt. 726\nCaitlynfort, MI 15123', 'country_available': 'Ireland', 'characters': 9}), (45, {'book_name': 'Dream clearly learn lawyer.', 'author_name': 'Juan Contreras', 'price': '618.94', 'published_year': '2005', 'num_pages': 1070, 'copies_sold': '336', 'rating (1-5)': 1, 'category': 'Science Fiction', 'chapters': 11, 'publisher_name': 'Reed PLC', 'publisher_address': '3148 Small Knoll Suite 582\nNathanland, MS 38678', 'country_available': 'Cayman Islands', 'characters': 5}), (32, {'book_name': 'Road possible stuff less.', 'author_name': 'Juan Contreras', 'price': '434.93', 'published_year': '2008', 'num_pages': 1214, 'copies_sold': '418', 'rating (1-5)': 2, 'category': 'Fiction', 'chapters': 15, 'publisher_name': 'Wilson Group', 'publisher_address': '91994 Michael Centers Apt. 120\nMendozaburgh, DC 05294', 'country_available': 'Cayman Islands', 'characters': 19}), (17, {'book_name': 'Produce ready increase example area.', 'author_name': 'Juan Contreras', 'price': '45352.41', 'published_year': '2011', 'num_pages': 718, 'copies_sold': '318', 'rating (1-5)': 5, 'category': 'Mythology', 'chapters': 25, 'publisher_name': 'Tyler-Jackson', 'publisher_address': '31039 White Meadows Apt. 727\nGilbertborough, CO 36924', 'country_available': 'Ireland', 'characters': 18}), (33, {'book_name': 'Base industry behavior across.', 'author_name': 'Juan Contreras', 'price': '85.04', 'published_year': '2014', 'num_pages': 306, 'copies_sold': '989', 'rating (1-5)': 2, 'category': 'Mythology', 'chapters': 19, 'publisher_name': 'Silva, Kane and Benton', 'publisher_address': '640 Maynard Ridges\nLake Kristishire, PA 89865', 'country_available': 'Sudan', 'characters': 4}), (10, {'book_name': 'Military important year.', 'author_name': 'Kevin Watson', 'price': '282.09', 'published_year': '1972', 'num_pages': 574, 'copies_sold': '333', 'rating (1-5)': 3, 'category': 'Economy', 'chapters': 18, 'publisher_name': 'Reed PLC', 'publisher_address': '15552 Whitney Spring\nSouth Gary, AR 37716', 'country_available': 'Croatia', 'characters': 5}), (81, {'book_name': 'Small southern federal power.', 'author_name': 'Kevin Watson', 'price': '88915.69', 'published_year': '1973', 'num_pages': 339, 'copies_sold': '897', 'rating (1-5)': 3, 'category': 'Sports', 'chapters': 18, 'publisher_name': 'Brown-Strong', 'publisher_address': '394 Jones Harbor\nBryanmouth, NV 93463', 'country_available': 'Ireland', 'characters': 13}), (20, {'book_name': 'Answer teacher unit everything author.', 'author_name': 'Kevin Watson', 'price': '16.26', 'published_year': '1974', 'num_pages': 871, 'copies_sold': '310', 'rating (1-5)': 1, 'category': 'Sports', 'chapters': 26, 'publisher_name': 'Reed PLC', 'publisher_address': '74450 Greene Crescent\nNorth Frankview, MD 56155', 'country_available': 'Cayman Islands', 'characters': 7}), (53, {'book_name': 'Group final such even dark.', 'author_name': 'Kevin Watson', 'price': '923.18', 'published_year': '1977', 'num_pages': 549, 'copies_sold': '270', 'rating (1-5)': 3, 'category': 'Science Fiction', 'chapters': 22, 'publisher_name': 'Frank-Schroeder', 'publisher_address': 'PSC 3757, Box 8719\nAPO AE 51886', 'country_available': 'Moldova', 'characters': 13}), (72, {'book_name': 'Provide fast other.', 'author_name': 'Kevin Watson', 'price': '8106.52', 'published_year': '1978', 'num_pages': 126, 'copies_sold': '854', 'rating (1-5)': 4, 'category': 'Non-Fiction', 'chapters': 6, 'publisher_name': 'Frank-Schroeder', 'publisher_address': '014 Veronica Lake Apt. 010\nNew Andrew, IA 83333', 'country_available': 'Guernsey', 'characters': 7}), (42, {'book_name': 'Ability building business half whether.', 'author_name': 'Kevin Watson', 'price': '24.55', 'published_year': '1983', 'num_pages': 1154, 'copies_sold': '114', 'rating (1-5)': 2, 'category': 'Sports', 'chapters': 5, 'publisher_name': 'Reed PLC', 'publisher_address': '93786 Stacy Rest Suite 789\nSouth Micheleburgh, UT 98175', 'country_available': 'Thailand', 'characters': 12}), (48, {'book_name': 'Nice style.', 'author_name': 'Kevin Watson', 'price': '7877.26', 'published_year': '1985', 'num_pages': 697, 'copies_sold': '364', 'rating (1-5)': 5, 'category': 'Non-Fiction', 'chapters': 23, 'publisher_name': 'Haynes LLC', 'publisher_address': '750 Jean Court Apt. 745\nPort Jonathantown, AZ 96981', 'country_available': 'Sudan', 'characters': 10}), (55, {'book_name': 'Baby check.', 'author_name': 'Kevin Watson', 'price': '1.78', 'published_year': '1991', 'num_pages': 111, 'copies_sold': '438', 'rating (1-5)': 2, 'category': 'Mythology', 'chapters': 22, 'publisher_name': 'Ingram Ltd', 'publisher_address': '8344 Petersen Junction Apt. 270\nCarolland, GA 90496', 'country_available': 'Croatia', 'characters': 14}), (27, {'book_name': 'Arrive sometimes worker.', 'author_name': 'Kevin Watson', 'price': '9.92', 'published_year': '1997', 'num_pages': 1012, 'copies_sold': '216', 'rating (1-5)': 3, 'category': 'Mythology', 'chapters': 20, 'publisher_name': 'Haynes LLC', 'publisher_address': '830 Pamela Street Suite 882\nPriscillachester, GA 09411', 'country_available': 'Sudan', 'characters': 17}), (65, {'book_name': 'Wait hotel reflect from daughter.', 'author_name': 'Kevin Watson', 'price': '566.82', 'published_year': '1997', 'num_pages': 1211, 'copies_sold': '262', 'rating (1-5)': 1, 'category': 'Fiction', 'chapters': 20, 'publisher_name': 'Reed PLC', 'publisher_address': '0153 Christopher Rest\nLake Cynthiaville, AK 04776', 'country_available': 'Thailand', 'characters': 19}), (2, {'book_name': 'Minute fish toward money fear.', 'author_name': 'Kevin Watson', 'price': '77.31', 'published_year': '2002', 'num_pages': 1419, 'copies_sold': '119', 'rating (1-5)': 1, 'category': 'Non-Fiction', 'chapters': 20, 'publisher_name': 'Wilson Group', 'publisher_address': '0498 Summer Loop\nLake Leslie, NC 74405', 'country_available': 'Cayman Islands', 'characters': 11}), (23, {'book_name': 'Special civil else commercial modern.', 'author_name': 'Kevin Watson', 'price': '482.22', 'published_year': '2005', 'num_pages': 777, 'copies_sold': '578', 'rating (1-5)': 5, 'category': 'Economy', 'chapters': 15, 'publisher_name': 'Sanchez, Wood and Bass', 'publisher_address': '63930 James Fields\nLawrencechester, AK 56429', 'country_available': 'Cayman Islands', 'characters': 10}), (59, {'book_name': 'Wall wrong country piece better.', 'author_name': 'Melissa Werner', 'price': '7544.74', 'published_year': '1981', 'num_pages': 875, 'copies_sold': '579', 'rating (1-5)': 2, 'category': 'Science Fiction', 'chapters': 26, 'publisher_name': 'Tyler-Jackson', 'publisher_address': '32914 Garrison Throughway\nMurphyhaven, PA 03148', 'country_available': 'Hong Kong', 'characters': 11}), (16, {'book_name': 'Read speak thank fact perform.', 'author_name': 'Melissa Werner', 'price': '0.57', 'published_year': '1982', 'num_pages': 1126, 'copies_sold': '238', 'rating (1-5)': 1, 'category': 'Sports', 'chapters': 24, 'publisher_name': 'Sanchez, Wood and Bass', 'publisher_address': 'Unit 9930 Box 3238\nDPO AE 21677', 'country_available': 'Sudan', 'characters': 6}), (40, {'book_name': 'Air establish structure.', 'author_name': 'Melissa Werner', 'price': '560.39', 'published_year': '1984', 'num_pages': 756, 'copies_sold': '915', 'rating (1-5)': 4, 'category': 'Sports', 'chapters': 24, 'publisher_name': 'Tyler-Jackson', 'publisher_address': '41569 Andrew Ports Suite 255\nOrozcoport, GA 58347', 'country_available': 'Croatia', 'characters': 10}), (47, {'book_name': 'Debate spend plan.', 'author_name': 'Melissa Werner', 'price': '4305.11', 'published_year': '1984', 'num_pages': 595, 'copies_sold': '721', 'rating (1-5)': 2, 'category': 'Sports', 'chapters': 7, 'publisher_name': 'Wilson Group', 'publisher_address': '483 David Plaza\nNew Scotttown, MS 33583', 'country_available': 'Ireland', 'characters': 14}), (69, {'book_name': 'And cell animal seek.', 'author_name': 'Melissa Werner', 'price': '33119.81', 'published_year': '1985', 'num_pages': 1454, 'copies_sold': '105', 'rating (1-5)': 2, 'category': 'Fiction', 'chapters': 8, 'publisher_name': 'Ingram Ltd', 'publisher_address': '33858 Wright Highway Suite 645\nSouth Shane, DE 32479', 'country_available': 'Croatia', 'characters': 6}), (77, {'book_name': 'Nearly tax Democrat.', 'author_name': 'Melissa Werner', 'price': '43219.01', 'published_year': '1987', 'num_pages': 1227, 'copies_sold': '714', 'rating (1-5)': 5, 'category': 'Economy', 'chapters': 20, 'publisher_name': 'Wilson Group', 'publisher_address': 'Unit 0375 Box 7183\nDPO AE 43207', 'country_available': 'Moldova', 'characters': 7}), (11, {'book_name': 'Executive environment door use.', 'author_name': 'Melissa Werner', 'price': '57685.39', 'published_year': '1988', 'num_pages': 667, 'copies_sold': '332', 'rating (1-5)': 5, 'category': 'Science Fiction', 'chapters': 17, 'publisher_name': 'Brown-Strong', 'publisher_address': '1686 Michelle Pine\nPaulfurt, NY 39737', 'country_available': 'Thailand', 'characters': 10}), (12, {'book_

#### 8. Sort the dict by copies sold and rating

In [247]:
result = sorted(books.items(), key=lambda x:(x[1]['copies_sold'],x[1]['rating (1-5)']))
print(result)

[(82, {'book_name': 'Suggest article structure allow heavy.', 'author_name': 'Ryan Jones', 'price': '759.01', 'published_year': '2000', 'num_pages': 1387, 'copies_sold': '011', 'rating (1-5)': 1, 'category': 'Non-Fiction', 'chapters': 18, 'publisher_name': 'Sanchez, Wood and Bass', 'publisher_address': '173 Jason Wall\nTaylorborough, AK 57893', 'country_available': 'Turkmenistan', 'characters': 8}), (80, {'book_name': 'Candidate effect effort study.', 'author_name': 'Ryan Jones', 'price': '9601.44', 'published_year': '1982', 'num_pages': 1127, 'copies_sold': '013', 'rating (1-5)': 4, 'category': 'Sports', 'chapters': 14, 'publisher_name': 'Haynes LLC', 'publisher_address': '062 Peter Tunnel Apt. 185\nAmandamouth, AR 56738', 'country_available': 'Paraguay', 'characters': 13}), (36, {'book_name': 'Garden blood nor.', 'author_name': 'Victor Hill', 'price': '8.19', 'published_year': '2016', 'num_pages': 103, 'copies_sold': '017', 'rating (1-5)': 2, 'category': 'Fiction', 'chapters': 12, 'publisher_name': 'Frank-Schroeder', 'publisher_address': '4385 Andrew Corners Apt. 387\nLake Nicole, NE 53361', 'country_available': 'Paraguay', 'characters': 16}), (26, {'book_name': 'Place town available.', 'author_name': 'James Miller', 'price': '1287.96', 'published_year': '1975', 'num_pages': 1211, 'copies_sold': '037', 'rating (1-5)': 3, 'category': 'Non-Fiction', 'chapters': 12, 'publisher_name': 'Haynes LLC', 'publisher_address': '60015 Williams Island Apt. 789\nPattersonview, OK 93159', 'country_available': 'Sudan', 'characters': 19}), (28, {'book_name': 'High population.', 'author_name': 'Susan Bush', 'price': '4.75', 'published_year': '1972', 'num_pages': 1481, 'copies_sold': '048', 'rating (1-5)': 1, 'category': 'Fiction', 'chapters': 21, 'publisher_name': 'Williams, Williams and Fox', 'publisher_address': '31188 Melissa Valley\nNew Ronald, HI 60384', 'country_available': 'Paraguay', 'characters': 14}), (87, {'book_name': 'Career middle.', 'author_name': 'Mr. Jonathan Jones', 'price': '3163.69', 'published_year': '1981', 'num_pages': 1073, 'copies_sold': '080', 'rating (1-5)': 3, 'category': 'Mythology', 'chapters': 26, 'publisher_name': 'Sanchez, Wood and Bass', 'publisher_address': 'PSC 4831, Box 3485\nAPO AE 94881', 'country_available': 'Thailand', 'characters': 7}), (52, {'book_name': 'Upon final term.', 'author_name': 'Susan Bush', 'price': '29834.09', 'published_year': '2002', 'num_pages': 264, 'copies_sold': '089', 'rating (1-5)': 5, 'category': 'Sports', 'chapters': 26, 'publisher_name': 'Wilson Group', 'publisher_address': 'Unit 6592 Box 0231\nDPO AA 24077', 'country_available': 'Guernsey', 'characters': 10}), (12, {'book_name': 'Edge start data.', 'author_name': 'Melissa Werner', 'price': '777.83', 'published_year': '1991', 'num_pages': 916, 'copies_sold': '093', 'rating (1-5)': 3, 'category': 'Economy', 'chapters': 28, 'publisher_name': 'Sanchez, Wood and Bass', 'publisher_address': 'PSC 0552, Box 4093\nAPO AA 90198', 'country_available': 'Thailand', 'characters': 17}), (69, {'book_name': 'And cell animal seek.', 'author_name': 'Melissa Werner', 'price': '33119.81', 'published_year': '1985', 'num_pages': 1454, 'copies_sold': '105', 'rating (1-5)': 2, 'category': 'Fiction', 'chapters': 8, 'publisher_name': 'Ingram Ltd', 'publisher_address': '33858 Wright Highway Suite 645\nSouth Shane, DE 32479', 'country_available': 'Croatia', 'characters': 6}), (42, {'book_name': 'Ability building business half whether.', 'author_name': 'Kevin Watson', 'price': '24.55', 'published_year': '1983', 'num_pages': 1154, 'copies_sold': '114', 'rating (1-5)': 2, 'category': 'Sports', 'chapters': 5, 'publisher_name': 'Reed PLC', 'publisher_address': '93786 Stacy Rest Suite 789\nSouth Micheleburgh, UT 98175', 'country_available': 'Thailand', 'characters': 12}), (2, {'book_name': 'Minute fish toward money fear.', 'author_name': 'Kevin Watson', 'price': '77.31', 'published_year': '2002', 'num_pages': 1419, 'copies_sold': '119', 'rating (1-5)': 1, 'category': 'Non-Fiction', 'chapters': 20, 'publisher_name': 'Wilson Group', 'publisher_address': '0498 Summer Loop\nLake Leslie, NC 74405', 'country_available': 'Cayman Islands', 'characters': 11}), (58, {'book_name': 'Camera traditional drug.', 'author_name': 'Edward Perez', 'price': '2072.93', 'published_year': '1981', 'num_pages': 844, 'copies_sold': '123', 'rating (1-5)': 4, 'category': 'Fiction', 'chapters': 18, 'publisher_name': 'Silva, Kane and Benton', 'publisher_address': '6156 Gonzalez Lock Suite 786\nSouth Matthew, TX 10581', 'country_available': 'Croatia', 'characters': 10}), (6, {'book_name': 'Last believe floor.', 'author_name': 'Edward Perez', 'price': '27.18', 'published_year': '1995', 'num_pages': 558, 'copies_sold': '137', 'rating (1-5)': 4, 'category': 'Mythology', 'chapters': 26, 'publisher_name': 'Tyler-Jackson', 'publisher_address': '321 Emily Locks\nNorth Allisonville, ID 25402', 'country_available': 'Cayman Islands', 'characters': 12}), (41, {'book_name': 'Bed easy.', 'author_name': 'Victor Hill', 'price': '3511.74', 'published_year': '1997', 'num_pages': 79, 'copies_sold': '142', 'rating (1-5)': 3, 'category': 'Sports', 'chapters': 21, 'publisher_name': 'Sanchez, Wood and Bass', 'publisher_address': '3637 Michelle Gardens Suite 329\nWest Gloria, CA 64445', 'country_available': 'Moldova', 'characters': 6}), (1, {'book_name': 'Network treatment.', 'author_name': 'Mr. Jonathan Jones', 'price': '6674.18', 'published_year': '2020', 'num_pages': 183, 'copies_sold': '145', 'rating (1-5)': 1, 'category': 'Science Fiction', 'chapters': 16, 'publisher_name': 'Haynes LLC', 'publisher_address': '837 Scott Parkway\nEast Andrea, OK 71137', 'country_available': 'Thailand', 'characters': 4}), (24, {'book_name': 'Attention cold anything.', 'author_name': 'Edward Perez', 'price': '94166.00', 'published_year': '1983', 'num_pages': 714, 'copies_sold': '147', 'rating (1-5)': 3, 'category': 'Science Fiction', 'chapters': 6, 'publisher_name': 'Wilson Group', 'publisher_address': '52344 Amanda Cove Apt. 959\nSouth Michelefurt, FL 45276', 'country_available': 'Moldova', 'characters': 13}), (85, {'book_name': 'End treat poor can.', 'author_name': 'Mr. Jonathan Jones', 'price': '2.44', 'published_year': '1977', 'num_pages': 327, 'copies_sold': '159', 'rating (1-5)': 4, 'category': 'Economy', 'chapters': 16, 'publisher_name': 'Haynes LLC', 'publisher_address': '3883 Gary Overpass Apt. 737\nLake Patriciaview, ME 70418', 'country_available': 'Guernsey', 'characters': 11}), (31, {'book_name': 'Everything would project school Mr.', 'author_name': 'Susan Bush', 'price': '3.25', 'published_year': '2014', 'num_pages': 618, 'copies_sold': '173', 'rating (1-5)': 2, 'category': 'Mythology', 'chapters': 19, 'publisher_name': 'Reed PLC', 'publisher_address': '3735 Tony Harbor\nPort Sarah, NJ 71723', 'country_available': 'Thailand', 'characters': 19}), (84, {'book_name': 'Energy soon town personal.', 'author_name': 'Susan Bush', 'price': '54981.83', 'published_year': '2019', 'num_pages': 447, 'copies_sold': '190', 'rating (1-5)': 3, 'category': 'Science Fiction', 'chapters': 25, 'publisher_name': 'Brown-Strong', 'publisher_address': 'PSC 5764, Box 2783\nAPO AE 14307', 'country_available': 'Paraguay', 'characters': 8}), (67, {'book_name': 'Dream support responsibility last reason.', 'author_name': 'Mr. Jonathan Jones', 'price': '333.42', 'published_year': '1977', 'num_pages': 354, 'copies_sold': '197', 'rating (1-5)': 2, 'category': 'Science Fiction', 'chapters': 27, 'publisher_name': 'Sanchez, Wood and Bass', 'publisher_address': '46196 Chen Mission\nEast Brandonmouth, DE 41936', 'country_available': 'Paraguay', 'characters': 10}), (27, {'book_name': 'Arrive sometimes worker.', 'author_name': 'Kevin Watson', 'price': '9.92', 'published_year': '1997', 'num_pages': 1012, 'copies_sold': '216', 'rating (1-5)': 3, 'category': 'Mythology', 'chapters': 20, 'publisher_name': 'Haynes LLC', 'publisher_address': '830 Pamela Street Suite 882\nPriscillachester, GA 09411', 'country_available': 'Sudan', 'characters': 17}), (14, {'book_name': 'Image debate us.', 'author_name': 'Edward Perez', 'price': '6.87', 'published_year': '1983', 'num_pages': 366, 'copies_sold': '218', 'rating (1-5)': 5, 'category': 'Economy', 'chapters': 17, 'publisher_name': 'Silva, Kane and Benton', 'publisher_address': '3891 Johnson Mount Suite 660\nEast Melissa, KS 85286', 'country_available': 'Ireland', 'characters': 10}), (88, {'book_name': 'Establish themselves anyone speak.', 'author_name': 'Joshua Sullivan', 'price': '2876.02', 'published_year': '2016', 'num_pages': 865, 'copies_sold': '223', 'rating (1-5)': 3, 'category': 'Sports', 'chapters': 25, 'publisher_name': 'Haynes LLC', 'publisher_address': 'USCGC Patterson\nFPO AP 11986', 'country_available': 'Moldova', 'characters': 4}), (0, {'book_name': 'Record increase pretty pay.', 'author_name': 'Ryan Jones', 'price': '5191.78', 'published_year': '1991', 'num_pages': 104, 'copies_sold': '234', 'rating (1-5)': 2, 'category': 'Sports', 'chapters': 24, 'publisher_name': 'Frank-Schroeder', 'publisher_address': '066 Amanda Hills\nEspinozatown, MS 09441', 'country_available': 'Turkmenistan', 'characters': 12}), (16, {'book_name': 'Read speak thank fact perform.', 'author_name': 'Melissa Werner', 'price': '0.57', 'published_year': '1982', 'num_pages': 1126, 'copies_sold': '238', 'rating (1-5)': 1, 'category': 'Sports', 'chapters': 24, 'publisher_name': 'Sanchez, Wood and Bass', 'publisher_address': 'Unit 9930 Box 3238\nDPO AE 21677', 'country_available': 'Sudan', 'characters': 6}), (15, {'book_name': 'Level economy final machine.', 'author_name': 'Melissa Werner', 'price': '62.78', 'published_year': '2013', 'num_pages': 369, 'copies_sold': '253', 'rating (1-5)': 4, 'category': 'Fiction', 'chapters': 27, 'publisher_name': 'Silva, Kane and Benton', 'publisher_address': '066 Bethany Knolls Apt. 381\nPort Heatherberg, DC 59290', 'country_available': 'Turkmenistan', 'characters': 8}), (65, {'book_name': 'Wait hotel reflect from daughter.', 'author_name': 'Kevin Watson', 'price': '566.82', 'published_year': '1997', 'num_pages': 1211, 'copies_sold': '262', 'rating (1-5)': 1, 'category': 'Fiction', 'chapters': 20, 'publisher_name': 'Reed PLC', 'publisher_address': '0153 Christopher Rest\nLake Cynthiaville, AK 04776', 'country_available': 'Thailand', 'characters': 19}), (53, {'book_name': 'Group final such even dark.', 'author_name': 'Kevin Watson', 'price': '923.18', 'published_year': '1977', 'num_pages': 549, 'copies_sold': '270', 'rating (1-5)': 3, 'category': 'Science Fiction', 'chapters': 22, 'publisher_name': 'Frank-Schroeder', 'publisher_address': 'PSC 3757, Box 8719\nAPO AE 51886', 'country_available': 'Moldova', 'characters': 13}), (5, {'book_name': 'Put star.', 'author_name': 'Edward Perez', 'price': '85090.92', 'published_year': '1991', 'num_pages': 904, 'copies_sold': '273', 'rating (1-5)': 1, 'category': 'Non-Fiction', 'chapters': 13, 'publisher_name': 'Haynes LLC', 'publisher_address': '856 Danielle Orchard Suite 027\nWest Margaretshire, WV 12963', 'country_available': 'Turkmenistan', 'characters': 8}), (35, {'book_name': 'Through receive seven community.', 'author_name': 'Mr. Jonathan Jones', 'price': '74897.55', 'published_year': '1999', 'num_pages': 1454, 'copies_sold': '273', 'rating (1-5)': 1, 'category': 'Economy', 'chapters': 15, 'publisher_name': 'Frank-Schroeder', 'publisher_address': '1252 Banks Extension\nNorth Catherine, IL 96086', 'country_available': 'Thailand', 'characters': 17}), (43, {'book_name': 'Second something even opportunity.', 'author_name': 'Susan Bush', 'price': '5227.43', 'published_year': '1991', 'num_pages': 127, 'copies_sold': '287', 'rating (1-5)': 4, 'category': 'Mythology', 'chapters': 25, 'publisher_name': 'Ingram Ltd', 'publisher_address': '1834 Thompson Isle\nPort Ronaldmouth, MI 08435', 'country_available': 'Sudan', 'characters': 9}), (94, {'book_name': 'Light break.', 'author_name': 'Susan Bush', 'price': '3608.20', 'published_year': '1980', 'num_pages': 929, 'copies_sold': '292', 'rating (1-5)': 3, 'category': 'Economy', 'chapters': 13, 'publisher_name': 'Frank-Schroeder', 'publisher_address': '618 Cooper Walks\nBaileyborough, FL 49877', 'country_available': 'Thailand', 'characters': 12}), (20, {'book_name': 'Answer teacher unit everything author.', 'author_name': 'Kevin Watson', 'price': '16.26', 'published_year': '1974', 'num_pages': 871, 'copies_sold': '310', 'rating (1-5)': 1, 'category': 'Sports', 'chapters': 26, 'publisher_name': 'Reed PLC', 'publisher_address': '74450 Greene Crescent\nNorth Frankview, MD 56155', 'country_available': 'Cayman Islands', 'characters': 7}), (71, {'book_name': 'Leader its kitchen television try.', 'author_name': 'Melissa Werner', 'price': '4609.89', 'published_year': '1999', 'num_pages': 1024, 'copies_sold': '312', 'rating (1-5)': 2, 'category': 'Science Fiction', 'chapters': 18, 'publisher_name': 'Reed PLC', 'publisher_address': '785 Ward Park Suite 248\nComptonland, VT 38372', 'country_available': 'Paraguay', 'characters': 13}), (17, {'book_name': 'Produce ready increase example area.', 'author_name': 'Juan Contreras', 'price': '45352.41', 'published_year': '2011', 'num_pages': 718, 'copies_sold': '318', 'rating (1-5)': 5, 'category': 'Mythology', 'chapters': 25, 'publisher_name': 'Tyler-Jackson', 'publisher_address': '31039 White Meadows Apt. 727\nGilbertborough, CO 36924', 'country_available': 'Ireland', 'characters': 18}), (29, {'book_name': 'Something room ground industry kid.', 'author_name': 'Joshua Sullivan', 'price': '57.13', 'published_year': '2010', 'num_pages': 911, 'copies_sold': '331', 'rating (1-5)': 3, 'category': 'Science Fiction', 'chapters': 16, 'publisher_name': 'Williams, Williams and Fox', 'publisher_address': '38437 Lucas Wall Apt. 905\nLake Melanie, CA 37029', 'country_available': 'Cayman Islands', 'characters': 13}), (11, {'book_name': 'Executive environment door use.', 'author_name': 'Melissa Werner', 'price': '57685.39', 'published_year': '1988', 'num_pages': 667, 'copies_sold': '332', 'rating (1-5)': 5, 'category': 'Science Fiction', 'chapters': 17, 'publisher_name': 'Brown-Strong', 'publisher_address': '1686 Michelle Pine\nPaulfurt, NY 39737', 'country_available': 'Thailand', 'characters': 10}), (10, {'book_name': 'Military important year.', 'author_name': 'Kevin Watson', 'price': '282.09', 'published_year': '1972', 'num_pages': 574, 'copies_sold': '333', 'rating (1-5)': 3, 'category': 'Economy', 'chapters': 18, 'publisher_name': 'Reed PLC', 'publisher_address': '15552 Whitney Spring\nSouth Gary, AR 37716', 'country_available': 'Croatia', 'characters': 5}), (45, {'book_name': 'Dream clearly learn lawyer.', 'author_name': 'Juan Contreras', 'price': '618.94', 'published_year': '2005', 'num_pages': 1070, 'copies_sold': '336', 'rating (1-5)': 1, 'category': 'Science Fiction', 'chapters': 11, 'publisher_name': 'Reed PLC', 'publisher_address': '3148 Small Knoll Suite 582\nNathanland, MS 38678', 'country_available': 'Cayman Islands', 'characters': 5}), (51, {'book_name': 'Condition arm.', 'author_name': 'Victor Hill', 'price': '148.75', 'published_year': '2019', 'num_pages': 433, 'copies_sold': '355', 'rating (1-5)': 2, 'category': 'Sports', 'chapters': 29, 'publisher_name': 'Frank-Schroeder', 'publisher_address': '928 Christine Coves Suite 602\nKathleenville, AR 93782', 'country_available': 'Thailand', 'characters': 7}), (78, {'book_name': 'Pm necessary by.', 'author_name': 'Joshua Sullivan', 'price': '6.18', 'published_year': '2004', 'num_pages': 1288, 'copies_sold': '362', 'rating (1-5)': 3, 'category': 'Mythology', 'chapters': 26, 'publisher_name': 'Williams, Williams and Fox', 'publisher_address': '0717 Landry Junction\nScottside, NE 83893', 'country_available': 'Sudan', 'characters': 8}), (75, {'book_name': 'Understand remain.', 'author_name': 'Edward Perez', 'price': '9.93', 'published_year': '1983', 'num_pages': 527, 'copies_sold': '363', 'rating (1-5)': 1, 'category': 'Science Fiction', 'chapters': 15, 'publisher_name': 'Haynes LLC', 'publisher_address': '835 Benjamin Oval\nSmithland, VT 30353', 'country_available': 'Thailand', 'characters': 4}), (48, {'book_name': 'Nice style.', 'author_name': 'Kevin Watson', 'price': '7877.26', 'published_year': '1985', 'num_pages': 697, 'copies_sold': '364', 'rating (1-5)': 5, 'category': 'Non-Fiction', 'chapters': 23, 'publisher_name': 'Haynes LLC', 'publisher_address': '750 Jean Court Apt. 745\nPort Jonathantown, AZ 96981', 'country_available': 'Sudan', 'characters': 10}), (39, {'book_name': 'Card large accept rule medical.', 'author_name': 'Juan Contreras', 'price': '2973.94', 'published_year': '1978', 'num_pages': 1262, 'copies_sold': '369', 'rating (1-5)': 4, 'category': 'Mythology', 'chapters': 17, 'publisher_name': 'Sanchez, Wood and Bass', 'publisher_address': '699 Price Lodge Suite 303\nNorth Taylor, DE 77245', 'country_available': 'Hong Kong', 'characters': 15}), (89, {'book_name': 'Air in heavy.', 'author_name': 'James Miller', 'price': '670.63', 'published_year': '1973', 'num_pages': 444, 'copies_sold': '406', 'rating (1-5)': 4, 'category': 'Science Fiction', 'chapters': 15, 'publisher_name': 'Tyler-Jackson', 'publisher_address': '81452 Joseph Stravenue\nSouth Hollyview, WV 78933', 'country_available': 'Moldova', 'characters': 8}), (99, {'book_name': 'Control wrong green.', 'author_name': 'Victor Hill', 'price': '8263.83', 'published_year': '2009', 'num_pages': 1288, 'copies_sold': '415', 'rating (1-5)': 2, 'category': 'Science Fiction', 'chapters': 29, 'publisher_name': 'Reed PLC', 'publisher_address': '5296 Jeffrey Path Suite 227\nBethland, OK 39536', 'country_available': 'Moldova', 'characters': 13}), (32, {'book_name': 'Road possible stuff less.', 'author_name': 'Juan Contreras', 'price': '434.93', 'published_year': '2008', 'num_pages': 1214, 'copies_sold': '418', 'rating (1-5)': 2, 'category': 'Fiction', 'chapters': 15, 'publisher_name': 'Wilson Group', 'publisher_address': '91994 Michael Centers Apt. 120\nMendozaburgh, DC 05294', 'country_available': 'Cayman Islands', 'characters': 19}), (55, {'book_name': 'Baby check.', 'author_name': 'Kevin Watson', 'price': '1.78', 'published_year': '1991', 'num_pages': 111, 'copies_sold': '438', 'rating (1-5)': 2, 'category': 'Mythology', 'chapters': 22, 'publisher_name': 'Ingram Ltd', 'publisher_address': '8344 Petersen Junction Apt. 270\nCarolland, GA 90496', 'country_available': 'Croatia', 'characters': 14}), (22, {'book_name': 'Fly strategy down now light.', 'author_name': 'Edward Perez', 'price': '11.73', 'published_year': '1979', 'num_pages': 349, 'copies_sold': '445', 'rating (1-5)': 5, 'category': 'Non-Fiction', 'chapters': 6, 'publisher_name': 'Frank-Schroeder', 'publisher_address': '3549 Michael Parks\nWest Charlesfurt, NM 05654', 'country_available': 'Cayman Islands', 'characters': 7}), (61, {'book_name': 'Often again happen pick far.', 'author_name': 'Mr. Jonathan Jones', 'price': '9190.13', 'published_year': '2013', 'num_pages': 1229, 'copies_sold': '465', 'rating (1-5)': 5, 'category': 'Science Fiction', 'chapters': 6, 'publisher_name': 'Reed PLC', 'publisher_address': 'USCGC Figueroa\nFPO AP 97950', 'country_available': 'Paraguay', 'characters': 5}), (62, {'book_name': 'Require watch push outside.', 'author_name': 'Edward Perez', 'price': '99.83', 'published_year': '1994', 'num_pages': 110, 'copies_sold': '468', 'rating (1-5)': 1, 'category': 'Fiction', 'chapters': 10, 'publisher_name': 'Haynes LLC', 'publisher_address': '728 Jasmine Canyon\nPhillipsside, NC 23473', 'country_available': 'Hong Kong', 'characters': 17}), (54, {'book_name': 'Stock two available party.', 'author_name': 'Edward Perez', 'price': '3.34', 'published_year': '2018', 'num_pages': 550, 'copies_sold': '483', 'rating (1-5)': 5, 'category': 'Sports', 'chapters': 17, 'publisher_name': 'Williams, Williams and Fox', 'publisher_address': '66480 Noble Cliff\nEmilyville, DE 64681', 'country_available': 'Moldova', 'character

## Thank you